/*
*	COMMON LAYOUT PANE FORMATTING
*/
.pane ,				/* outer pane class */
.ui-layout-pane {	/* inner pane class */
	background-color: #FFF;
	background-color: #F3F6F8;	
	overflow: auto; /* will be auto-set to 'hidden' for any pane with a 'scrolling content div' */
}

/*
*	OUTER-LAYOUT PANE FORMATTING
*/
.pane-north ,
.pane-south ,
.pane-west ,
.pane-east {
	overflow:		hidden;
}

.pane-north {
	border-bottom:	none;
}

.pane-north .content ,
.pane-south .content {
	text-align: center;
}

.pane-center {
	/* show off the inner-layout inside the outer-center-pane*/
	background-color: #F6F6F6;
	padding: 15px; /* for outer layout */
}

/* inner divs inside Outer East/West panes */
.header { 
	font-weight: bold;
	text-align: center;
	padding: 2px 0px 0px 0px;
	margin: 0px 0px 10px 0px;
	width: 100%;
	height: 22px;
	position: relative;
	overflow: hidden;
	background: #DDDDDD;	
	border-bottom: 1px solid #BBBBBB;
}

.subhead ,
.footer {
	padding: 3px 10px;
	font-size: 0.85em;
	position: relative;
	overflow: hidden;
	white-space: nowrap;
}

.subhead { border-bottom: 1px solid #777; }
.footer  { border-top: 1px solid #777; }

.ui-layout-pane-west { /* west pane */ 
		padding: 0; 
		background-color: #FEEE !important;
		overflow: auto;
} 

/* estilos correspondiente a los slider resize */
.ui-layout-resizer-dragging {	/* resizer beging 'dragging' */
    border: 1px solid #BBBBBB;
	background: #FDEFAC;		
}	

/*
.ui-layout-resizer-east-dragging,
.ui-layout-resizer-west-dragging	{  
	border: 1px solid #118481;
	background: url("#{resource['images/layout:resizable-e.gif']}") repeat-y center; 
}
*/

.ui-layout-resizer:hover {	/* resizer beging 'dragging' */
    background: #FDEFAC;		
}	

.ui-layout-toggler-south-open {
	border: 1px solid #BBB; /* match pane-border */
	background: url("#{resource['images/layout:toggle-dn.gif']}") no-repeat bottom #FFF; 
	-moz-border-radius: 12px 12px 0 0;
  -webkit-border-radius: 12px 12px 0 0;  
}

.ui-layout-toggler-south-closed {
	border: 1px solid #BBB; /* match pane-border */
	background: url("#{resource['images/layout:toggle-up.gif']}") no-repeat bottom #D2DDE7;
	-moz-border-radius: 12px 12px 0 0;
  -webkit-border-radius: 12px 12px 0 0; 
}

.ui-layout-toggler-north-open {
	border: 1px solid #BBB; /* match pane-border */
	background: url("#{resource['images/layout:toggle-up.gif']}") no-repeat bottom #FFF;
	-moz-border-radius: 0 0 12px 12px;
  -webkit-border-radius: 0 0 12px 12px;  
}

.ui-layout-toggler-north-closed {
	border: 1px solid #BBB; /* match pane-border */
	background: url("#{resource['images/layout:toggle-dn.gif']}") no-repeat bottom #D2DDE7; 
	-moz-border-radius: 0 0 12px 12px;
  -webkit-border-radius: 0 0 12px 12px; 
}

.ui-layout-toggler-west-open {
	border: 1px solid #BBB; /* match pane-border */
	background: url("#{resource['images/layout:toggle-lt.gif']}") no-repeat center right; 
}

.ui-layout-toggler-west-closed {
	border: 1px solid #BBB; /* match pane-border */
	background: url("#{resource['images/layout:toggle-rt.gif']}") no-repeat center right; 
}


.ui-layout-toggler-east-closed {
	border: 1px solid #BBB; /* match pane-border */
	background: url("#{resource['images/layout:toggle-lt.gif']}") no-repeat center left #D2DDE7;
	-moz-border-radius: 12px 0 0 12px;
  -webkit-border-radius: 12px 0 0 12px; 
	 
}

.ui-layout-toggler-east-open {
	border: 1px solid #BBB; /* match pane-border */
	background: url("#{resource['images/layout:toggle-rt.gif']}") no-repeat center right #FFF;
  -moz-border-radius: 12px 0 0 12px;
  -webkit-border-radius: 12px 0 0 12px; 
}


/* CUSTOM close-buttons */
span.button-pin ,
span.button-close {
	position:	absolute;
	top:		0;
	width: 		20px;
	height:		20px;
	z-index:	2;
	display:	block;
	cursor: 	pointer;
}
span.button-close-west	{ left:	 0; }
span.button-close-east	{ right: 0; }
span.button-pin-west	{ right: 1px; }
span.button-pin-east	{ left:	 1px; }


span.button-close-west			{ 	
	background: url("#{resource['images/layout:go-lt-off.gif']}") no-repeat right;

	}
span.button-close-west:hover	{ 
	background: url("#{resource['images/layout:go-lt-on.gif']}") no-repeat center;

	}
span.button-close-east			{ 
	background: url("#{resource['images/layout:go-rt-off.gif']}") no-repeat center;
	}
span.button-close-east:hover	{ 
	background: url("#{resource['images/layout:go-rt-on.gif']}") no-repeat center;
	}

/* STANDARD toggler-buttons - when the east/west panes are 'closed' */
.toggler-west-closed		{ background: url("#{resource['images/layout:go-rt-off.gif']}") no-repeat center; }
.toggler-west-closed:hover	{ background: url("#{resource['images/layout:go-rt-on.gif']}")  no-repeat center; }
.toggler-east-closed		{ background: url("#{resource['images/layout:go-lt-off.gif']}") no-repeat center; }
.toggler-east-closed:hover	{ background: url("#{resource['images/layout:go-lt-on.gif']}")  no-repeat center; }



