<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:faces="http://www.springframework.org/schema/faces"
	xmlns:int-security="http://www.springframework.org/schema/integration/security"
	xmlns:tx="http://www.springframework.org/schema/tx" xmlns:sec="http://www.springframework.org/schema/security"
	xmlns:jaxws="http://cxf.apache.org/jaxws"	
	xmlns:jee="http://www.springframework.org/schema/jee"
    xmlns:soap="http://cxf.apache.org/bindings/soap"
	xsi:schemaLocation="http://www.springframework.org/schema/integration/security http://www.springframework.org/schema/integration/security/spring-integration-security-2.0.xsd
		http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-3.0.xsd
		http://www.springframework.org/schema/security http://www.springframework.org/schema/security/spring-security-3.0.xsd
		http://www.springframework.org/schema/integration http://www.springframework.org/schema/integration/spring-integration.xsd
		http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
		http://www.springframework.org/schema/faces http://www.springframework.org/schema/faces/spring-faces-2.0.xsd
		http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-3.0.xsd
		http://www.springframework.org/schema/jee http://www.springframework.org/schema/jee/spring-jee-3.0.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd
		http://cxf.apache.org/jaxws http://cxf.apache.org/schemas/jaxws.xsd">
  

	<bean id="spusicc.procesoSTOExecutionService" 
	      parent="baseService"
		  class="biz.belcorp.ssicc.service.spusicc.sto.framework.impl.ProcesoSTOExecutionServiceImpl">
		  <property name="stoProcess">
				<map>
					<entry>
						<key>
							<value>VA</value>
						</key>
						<ref bean="spusicc.procesoSTOValidateExecutorService" />
					</entry>
					<entry>
						<key>
							<value>VAT</value>
						</key>
						<ref bean="spusicc.procesoSTOValidateExecutorService" />
					</entry>
					<entry>
						<key>
							<value>VAM</value>
						</key>
						<ref bean="spusicc.procesoSTOValidateExecutorService" />
					</entry>
					<entry>
						<key>
							<value>VAA</value>
						</key>
						<ref bean="spusicc.procesoSTOValidateAutoExecutorService" />
					</entry>
					<entry>
						<key>
							<value>VAO</value>
						</key>
						<ref bean="spusicc.procesoSTOValidateExecutorService" />
					</entry>
					<entry>
						<key>
							<value>VAL</value>
						</key>
						<ref bean="spusicc.procesoSTOValidateOnlineExecutorService" />
					</entry>
					<entry>
						<key>
							<value>RE</value>
						</key>
						<ref bean="spusicc.procesoSTORejectExecutorService" />
					</entry>
					<entry>
						<key>
							<value>RET</value>
						</key>
						<ref bean="spusicc.procesoSTORejectExecutorService" />
					</entry>
					<entry>
						<key>
							<value>AP</value>
						</key>
						<ref bean="spusicc.procesoSTOApproveExecutorService" />
					</entry>
					<entry>
						<key>
							<value>APT</value>
						</key>
						<ref bean="spusicc.procesoSTOApproveExecutorService" />
					</entry>
					<entry>
						<key>
							<value>DP</value>
						</key>
						<ref bean="spusicc.procesoSTODisapproveExecutorService" />
					</entry>
					<entry>
						<key>
							<value>DPT</value>
						</key>
						<ref bean="spusicc.procesoSTODisapproveExecutorService" />
					</entry>
					<entry>
						<key>
							<value>ELS</value>
						</key>
						<ref bean="spusicc.procesoSTODeleteExecutorService" />
					</entry>
					<entry>
						<key>
							<value>ELT</value>
						</key>
						<ref bean="spusicc.procesoSTODeleteExecutorService" />
					</entry>
					<entry>
						<key>
							<value>ELO</value>
						</key>
						<ref bean="spusicc.procesoSTODeleteExecutorService" />
					</entry>
					<entry>
						<key>
							<value>ELL</value>
						</key>
						<ref bean="spusicc.procesoSTODeleteOnlineExecutorService" />
					</entry>
					<entry>
							<key>
								<value>RR</value>
							</key>
							<ref bean="spusicc.procesoSTORecoverRejectExecutorService" />
					</entry>
				</map>
		 </property>
	</bean>
    
    <!-- Inicio de la configuracion de Services abstractos -->

	<bean id="spusicc.baseProcesoSTOAbstractService"
		class="biz.belcorp.ssicc.service.spusicc.sto.framework.BaseProcesoSTOAbstractService"
		abstract="true">
		<property name="procesoSTODAO">
			<ref bean="spusicc.procesoSTODAO" />
		</property>
		<property name="procesoSTOHistoricoDAO">
			<ref bean="spusicc.procesoSTOHistoricoDAO" />
		</property>
		<property name="procesoBatchService">
			<ref bean="scsicc.procesoBatchService" />
		</property>
		<property name="stoValidations">
			<map>
				<entry>
					<key>
						<value>SCC-64</value>
					</key>
					<ref bean="spusicc.procesoSTOValidacionSCCEquifaxService" />
				</entry>
				<entry>
					<key>
						<value>SCC-65</value>
					</key>
					<ref bean="spusicc.procesoSTOValidacionSCCWSRutCrediticiaService" />
				</entry>
				<entry>
					<key>
						<value>SCC-66</value>
					</key>
					<ref bean="spusicc.procesoSTOValidacionSCCWSBuroCoporativoCrediticiaService" />
				</entry>
				<entry>
					<key>
						<value>OCC-62</value>
					</key>
					<ref bean="spusicc.procesoSTOValidacionOCCWSDataCrediticiaService" />
				</entry>
			</map>
		</property>
	</bean>
	
	
	
	<!--  
	<bean id="spusicc.baseProcesoSTOValidationExecutorAbstractService"
		class="biz.belcorp.ssicc.service.spusicc.sto.framework.BaseProcesoSTOValidationExecutorAbstractService"
		parent="baseService"
		abstract="true">
		<property name="procesoSTODAO">
			<ref bean="spusicc.procesoSTODAO" />
		</property>
		<property name="genericoDAO">
			<ref bean="genericoDAO" />
		</property>
	</bean>
	-->
	
    <bean id="spusicc.baseProcesoSTOExecutorAbstractService"
		class="biz.belcorp.ssicc.service.spusicc.sto.framework.BaseProcesoSTOExecutorAbstractService"
		parent="baseService"
		abstract="true"
		>

		<property name="procesoSTOService">
			<ref bean="spusicc.procesoSTOService" />
		</property>
		<property name="procesoSTOHistoricoService">
			<ref bean="spusicc.procesoSTOHistoricoService" />
		</property>
		<property name="stoImplementations">
			<map>
				<entry>
					<key>
						<value>CUP</value>
					</key>
					<ref bean="spusicc.procesoSTOCuponPagoService" />
				</entry>
				<entry>
					<key>
						<value>DCYZ</value>
					</key>
					<ref bean="spusicc.procesoSTODuplaCyzoneService" />
				</entry>
				<entry>
					<key>
						<value>OCC</value>
					</key>
					<ref bean="spusicc.procesoSTOOrdenCompraService" />
				</entry>
				<entry>
					<key>
						<value>SAD</value>
					</key>
					<ref bean="spusicc.procesoSTOActualizacionDatosService" />
				</entry>
				<entry>
					<key>
						<value>SCC</value>
					</key>
					<ref bean="spusicc.procesoSTOSolicitudCreditoService" />
				</entry>
				<entry>
					<key>
						<value>SPVC</value>
					</key>
					<ref bean="spusicc.procesoSTOPostVentaService" />
				</entry>

				<entry>
					<key>
						<value>OT</value>
					</key>
					<ref bean="spusicc.procesoSTOOrdenTransporteService" />
				</entry>
				<entry>
					<key>
						<value>SIM</value>
					</key>
					<ref bean="spusicc.procesoSTOIngresoMetasService" />
				</entry>
				<entry>
					<key>
						<value>FAS</value>
					</key>
					<ref bean="spusicc.procesoSTOFamiliaSeguraService" />
				</entry>
				<entry>
					<key>
						<value>CED</value>
					</key>
					<ref bean="spusicc.procesoSTOContratoEjecutivaService" />
				</entry>
				<entry>
					<key>
						<value>CIF</value>
					</key>
					<ref bean="spusicc.procesoSTOCartaInvitacionFlexipagoService" />
				</entry>				
			</map>
		</property>
	</bean>
	
	
	<bean id="spusicc.procesoSTOCuponPagoService" parent="spusicc.baseProcesoSTOAbstractService"
		class="biz.belcorp.ssicc.service.spusicc.sto.impl.ProcesoSTOCuponPagoServiceImpl">
	</bean>
	<bean id="spusicc.procesoSTODuplaCyzoneService" parent="spusicc.baseProcesoSTOAbstractService"
		class="biz.belcorp.ssicc.service.spusicc.sto.impl.ProcesoSTODuplaCyzoneServiceImpl">
	</bean>
	<bean id="spusicc.procesoSTOOrdenCompraService" parent="spusicc.baseProcesoSTOAbstractService"
		class="biz.belcorp.ssicc.service.spusicc.sto.impl.ProcesoSTOOrdenCompraServiceImpl">
	</bean>
	<bean id="spusicc.procesoSTOActualizacionDatosService" parent="spusicc.baseProcesoSTOAbstractService"
		class="biz.belcorp.ssicc.service.spusicc.sto.impl.ProcesoSTOActualizacionDatosServiceImpl">
	</bean>
	
	<bean id="spusicc.procesoSTOSolicitudCreditoService" parent="spusicc.baseProcesoSTOAbstractService"
		class="biz.belcorp.ssicc.service.spusicc.sto.impl.ProcesoSTOSolicitudCreditoServiceImpl">
		<property name="procesoSTOEjecucionValidacionesDAO">
			<ref bean="spusicc.procesoSTOEjecucionValidacionesDAO" />
		</property>
		<property name="mailUtil">
			<ref bean="sisicc.mailUtil" />
		</property>
	</bean>
	
	<bean id="spusicc.procesoSTOPostVentaService" parent="spusicc.baseProcesoSTOAbstractService"
		class="biz.belcorp.ssicc.service.spusicc.sto.impl.ProcesoSTOPostVentaServiceImpl">
	</bean>
	<bean id="spusicc.procesoSTOOrdenTransporteService" parent="spusicc.baseProcesoSTOAbstractService"
		class="biz.belcorp.ssicc.service.spusicc.sto.impl.ProcesoSTOOrdenTransporteServiceImpl">
	</bean>
	<bean id="spusicc.procesoSTOIngresoMetasService" parent="spusicc.baseProcesoSTOAbstractService"
		class="biz.belcorp.ssicc.service.spusicc.sto.impl.ProcesoSTOIngresoMetasServiceImpl">
	</bean>
	<bean id="spusicc.procesoSTOFamiliaSeguraService" parent="spusicc.baseProcesoSTOAbstractService"
		class="biz.belcorp.ssicc.service.spusicc.sto.impl.ProcesoSTOFamiliaSeguraServiceImpl">
	</bean>

	<bean id="spusicc.procesoSTOValidateExecutorService" parent="spusicc.baseProcesoSTOExecutorAbstractService"
		class="biz.belcorp.ssicc.service.spusicc.sto.framework.impl.ProcesoSTOValidateExecutorServiceImpl">
	</bean>
	<bean id="spusicc.procesoSTOValidateOnlineExecutorService" parent="spusicc.baseProcesoSTOExecutorAbstractService"
		class="biz.belcorp.ssicc.service.spusicc.sto.framework.impl.ProcesoSTOValidateOnlineExecutorServiceImpl">
	</bean>
	<bean id="spusicc.procesoSTOValidateAutoExecutorService" parent="spusicc.baseProcesoSTOExecutorAbstractService"
		class="biz.belcorp.ssicc.service.spusicc.sto.framework.impl.ProcesoSTOValidateAutoExecutorServiceImpl">
		<property name="procesoBatchService">
			<ref bean="scsicc.procesoBatchService" />
		</property>
	</bean>

	<bean id="spusicc.procesoSTORejectExecutorService" parent="spusicc.baseProcesoSTOExecutorAbstractService"
		class="biz.belcorp.ssicc.service.spusicc.sto.framework.impl.ProcesoSTORejectExecutorServiceImpl">
	</bean>

	<bean id="spusicc.procesoSTOApproveExecutorService" parent="spusicc.baseProcesoSTOExecutorAbstractService"
		class="biz.belcorp.ssicc.service.spusicc.sto.framework.impl.ProcesoSTOApproveExecutorServiceImpl">
	</bean>

	<bean id="spusicc.procesoSTODisapproveExecutorService" parent="spusicc.baseProcesoSTOExecutorAbstractService"
		class="biz.belcorp.ssicc.service.spusicc.sto.framework.impl.ProcesoSTODisapproveExecutorServiceImpl">
	</bean>

	<bean id="spusicc.procesoSTODeleteExecutorService" parent="spusicc.baseProcesoSTOExecutorAbstractService"
		class="biz.belcorp.ssicc.service.spusicc.sto.framework.impl.ProcesoSTODeleteExecutorServiceImpl">
	</bean>

	<bean id="spusicc.procesoSTODeleteOnlineExecutorService" parent="spusicc.baseProcesoSTOExecutorAbstractService"
		class="biz.belcorp.ssicc.service.spusicc.sto.framework.impl.ProcesoSTODeleteOnlineExecutorServiceImpl">
	</bean>

	<bean id="spusicc.procesoSTOContratoEjecutivaService" parent="spusicc.baseProcesoSTOAbstractService"
		class="biz.belcorp.ssicc.service.spusicc.sto.impl.ProcesoSTOContratoEjecutivaServiceImpl">
	</bean>
	<bean id="spusicc.procesoSTOCartaInvitacionFlexipagoService" parent="spusicc.baseProcesoSTOAbstractService"
		class="biz.belcorp.ssicc.service.spusicc.sto.impl.ProcesoSTOCartaInvitacionFlexipagoServiceImpl">
	</bean>
	
	<bean id="spusicc.procesoSTORecoverRejectExecutorService" parent="spusicc.baseProcesoSTOExecutorAbstractService"
		class="biz.belcorp.ssicc.service.spusicc.sto.framework.impl.ProcesoSTORecoverRejectExecutorServiceImpl">
	</bean>
	
	

	
</beans>