<detctacte><txt>SALDO ANTERIOR<t/><t/><t/><t/><tr/><tr/><tr/>$documentoLaserCuentaCorrienteCabecera.saldoActualConsultora</txt>#set($saldoActualConsultora = $documentoLaserCuentaCorrienteCabecera.saldoActualConsultora)#foreach($documentoLaserCuentaCorrienteDetalle in $documentoLaserCuentaCorrienteDetalleList)#set($resultado = $mathtool.add($saldoActualConsultora,$mathtool.mul($documentoLaserCuentaCorrienteDetalle.impMovi,-1)))<txt>$documentoLaserCuentaCorrienteDetalle.fecEmis<t/>$documentoLaserCuentaCorrienteDetalle.camRefe<t/>$documentoLaserCuentaCorrienteDetalle.tipMovi<t/>$documentoLaserCuentaCorrienteDetalle.fecVenc<t/>$documentoLaserCuentaCorrienteDetalle.fecPago<tr/>$documentoLaserCuentaCorrienteDetalle.impCarg<tr/>$documentoLaserCuentaCorrienteDetalle.impAbon<tr/>$mathtool.roundTo(2,$resultado)</txt>#set($saldoActualConsultora = $resultado)#end</detctacte>