<tabla19>#set( $blanco = " " )<fhe12/><txt><b>CONCURSO DE LIDERES</b></txt><fhe08/><bx><txt/><txt><b>Nro Conc.<t/>Descripción<tr/>Ptj.Obte.<tr/>Ptj.Canj.<tr/>Ptj.Disp.</b></txt></bx><txt/>#foreach($mensajeDetalle in $mensajeList)<txt>$mensajeDetalle.numConcurso<t/>$mensajeDetalle.nombreConcurso<tr/>$mensajeDetalle.valPuntajeAcumulado<tr/>$mensajeDetalle.valPuntajeCanjeado<tr/>$mensajeDetalle.valPuntajeDisponible</txt>#end<txt/></tabla19>