<font face="verdana">	

	<li>Tipo de Novedad: Retiro </li>	
	<li>Nombre: $retiro.nombreCliente </li>
	<li>Cargo:  $retiro.descripcionCargo	</li>	
	#if($indicadorRetiroDirectorioRegion != 0)
		<li>Región: $retiro.codigoRegion </li>
	#end	
	#if($indicadorRetiroDirectorioZona != 0)
		<li>Zona: $retiro.codigoZona </li>
	#end			
	<li>Fecha:  $retiro.fechaRetiro	</li>
		
</font>