Se registro con éxito la consultora ${nombreCliente} con tipo de documento ${tipoDocumento}. 
<br><br>
Se le asignó el código ${codigoCliente}
<br><br>
${vMensajeGerente}
<br><br>
${vMensajeNumeroOperacion}
<br><br>
${vMensajeDigitoVerificacion}
<br><br>
NOTA: Por favor no responda a este mensaje, es generado automáticamente desde una cuenta no monitoreada.