<font face="verdana">	
	#foreach($rotacion in $listaRotacion)
		<li>Tipo de Novedad: Rotación de Persona </li>
		<li>Nombre: $rotacion.nombreCliente </li>
		<li>Cargo:  $rotacion.descripcionCargo </li>
		#if($rotacion.indicadorRotacionRegion != 0)
		<li>Región Actual:  $rotacion.regionActual </li>		
		<li>Región Nueva:   $rotacion.regionNueva </li>
		#end
		#if($rotacion.indicadorRotacionZona != 0)		
		<li>Zona Actual:    $rotacion.zonaActual </li>		
		<li>Zona Nueva:     $rotacion.zonaNueva </li>
		#end		
		<li>Fecha:          $fechaRotacion	</li>
		<br><br>
	#end
</font>