<label style="font-size:12px;">
	Se envía información consolidada de las <b> TRANSACCIONES RETAIL </b> cargadas al Sistema Comercial correspondiente
	al pais <b>$descPais</b>
</label>
<br><br>
	<label style="font-size:12px;">
		<b>NOTA: Por favor no responda a este mensaje, es generado automáticamente desde una cuenta no monitoreada.</b>
		<br>
		Proceso ha sido <b>ejecutado</b> por el Usuario <b>$usuarioIngreso</b>
	</label>

	<br><br>
	
	<table  style="width:200px; font-family:Arial;font-size:12px;" border="1" cellpadding="0" cellspacing="0">
				<tr>
					<td  style="background: #8904B1;border-bottom: 1px solid #FFFFFF;text-align:center;color: #FFFFFF;"><b> Campaña Proceso </b></td>				
					<td  style="text-align:center;">$campana</td>
				</tr>
				<tr>
					<td  style="background: #8904B1;border-bottom: 1px solid #FFFFFF;text-align:center;color: #FFFFFF;"><b>Fecha Proceso</b> </td>
					<td  style="text-align:center;">$fechaProceso</td>
				</tr>
				
	</table>
	<br><br>
	<table style="width:600px; font-family:Arial;font-size:12px;" border="1" cellpadding="0" cellspacing="0">
		<thead>
		     <tr>
			<td style="background: #8904B1;border-bottom: 1px solid #FFFFFF;text-align:center;font-family:Arial;font-size:15px;color: #FFFFFF;" colspan=3 ><b>TRANSACCIONES CABECERA</b></td>
			<td style="background: #FFFFFF;border-bottom: 0px solid #FFFFFF;text-align:right;font-family:Arial;font-size:15px;color: #000000;" colspan=2 ><b>$totalCabecera</b></td>			
			</tr>
			<tr>
				<th style="background: #8904B1;border-bottom: 1px solid #FFFFFF;color: #FFFFFF;">Campaña Retail</th>
				<th style="background: #8904B1;border-bottom: 1px solid #FFFFFF;color: #FFFFFF;">Fecha Retail</th>
				<th style="background: #8904B1;border-bottom: 1px solid #FFFFFF;color: #FFFFFF;">Código Local</th>
				<th style="background: #8904B1;border-bottom: 1px solid #FFFFFF;color: #FFFFFF;">Descripción Local</th>
				<th style="background: #8904B1;border-bottom: 1px solid #FFFFFF;color: #FFFFFF;">Total Transacciones</th>				
			</tr>
		</thead>
		
		<tbody>
			#foreach($reg in $listCabecera)
			<tr>
				<td style="text-align:center;color:#0404B4;">${reg.campanaRetail}</td>
				<td style="text-align:center;color:#0404B4;">${reg.fechaRetail}</td>
				<td style="text-align:center;color:#0404B4;">${reg.codigoLocal}</td>
				<td style="text-align:center;color:#0404B4;">${reg.descripcionLocal}</td>
				<td style="text-align:center;color:#0404B4;">${reg.totalTransacciones}</td>
			</tr>
			#end
		</tbody>
	</table>
	<br><br>
	<table style="width:600px; font-family:Arial;font-size:12px;" border="1" cellpadding="0" cellspacing="0">
		<thead>
		     <tr>
			<td style="background: #8904B1;border-bottom: 1px solid #FFFFFF;text-align:center;font-family:Arial;font-size:15px;color: #FFFFFF;" colspan=3 ><b>TRANSACCIONES DETALLE</b></td>
		    <td style="background: #FFFFFF;border-bottom: 0px solid #FFFFFF;text-align:right;font-family:Arial;font-size:15px;color: #000000;" colspan=2 ><b>$totalDetalle</b></td>			
			</tr>
			<tr>
				<th style="background: #8904B1;border-bottom: 1px solid #FFFFFF;color: #FFFFFF;">Campaña Retail</th>
				<th style="background: #8904B1;border-bottom: 1px solid #FFFFFF;color: #FFFFFF;">Fecha Retail</th>
				<th style="background: #8904B1;border-bottom: 1px solid #FFFFFF;color: #FFFFFF;">Código Local</th>
				<th style="background: #8904B1;border-bottom: 1px solid #FFFFFF;color: #FFFFFF;">Descripción Local</th>
				<th style="background: #8904B1;border-bottom: 1px solid #FFFFFF;color: #FFFFFF;">Total Transacciones</th>				
			</tr>
		</thead>
		
		<tbody>
			#foreach($reg1 in $listDetalle)
			<tr>
				<td style="text-align:center;color:#0404B4;">${reg1.campanaRetail}</td>
				<td style="text-align:center;color:#0404B4;">${reg1.fechaRetail}</td>
				<td style="text-align:center;color:#0404B4;">${reg1.codigoLocal}</td>
				<td style="text-align:center;color:#0404B4;">${reg1.descripcionLocal}</td>
				<td style="text-align:center;color:#0404B4;">${reg1.totalTransacciones}</td>
			</tr>
			#end
		</tbody>
	</table>
