Se ha realizado el envio del Reporte de Carga de Documentos OCR/WS desde el Sistema de SSICC correspondiente al pais ${pais.descripcion} 

NOTA: Por favor no responda a este mensaje, es generado automáticamente desde una cuenta no monitoreada.
Proceso ejecutado por el usuario ${usuario.login}. 

Se adjunta el archivo correspondiente: 