<STYLE TYPE="text/css">
<!--
TD, th{font-family: Arial; font-size: 10pt;}
--->
</STYLE>

	<br><br>
	
	<table style="width: 500px;" border="0" cellpadding="0" cellspacing="0">
		<tr>
			<th align="left">Tipo de Novedad:</th>		
			<td> ${tipoNovedad}</td>
		</tr>
				
		<tr>
			<th align="left">C&oacute;digo: </th>
			<td> ${codigoConsultora}</td>
		</tr>
		<tr>
			<th align="left">Nombre:</th>
			<td> ${nombresCompletosConsultora}</td>
		</tr>
		<tr>
			<th align="left">Cargo Actual:</th>
			<td> ${descripcionCargoAnterior}</td>
		</tr>

		#if( $tipoUnidadAdministrativaAnteriorMail == 'Z' )
			<tr>
				<th align="left">Regi&oacute;n:</th>
				<td> ${codigoRegionAnterior}</td>
			</tr>
			<tr>
				<th align="left">Zona:</th>
				<td> ${codigoZonaAnterior}</td>
			</tr>
		#end
		#if( $tipoUnidadAdministrativaAnteriorMail == 'R' )
			<tr>
				<th align="left">Regi&oacute;n:</th>
				<td> ${codigoRegionAnterior}</td>
			</tr>
		#end

		<tr>
			<th align="left">Nuevo Cargo:</th>
			<td> ${CargoConsultora}</td>
		</tr>
		
		<tr>
		#if( $tipoUA == 'GZ' )
			<th valign="top" align="left">Ingreso a la(s) Zona(s): </th>
		#end
		#if( $tipoUA == 'GR' )
			<th valign="top" align="left">Ingreso a la(s) Region(es): </th>
		#end
			<td> 
				#foreach( $ua in $listaUAs)
				    $ua</br>
				#end
			</td>
		</tr>
						
		<tr>
			<th align="left">Fecha:</th>
			<td> ${fechaRegistro}</td>
		</tr>
	</table>
	<br><br>

	<label style="font-size:12px;font-weight:bold;">
		NOTA: Por favor no responda a este mensaje, es generado autom&aacute;ticamente desde una cuenta no monitoreada.
	</label>