Se ha realizado el envio del Reporte Pedidos Digitados por Región.

NOTA: Por favor no responda a este mensaje, es generado automáticamente desde una cuenta no monitoreada.
Proceso ejecutado por el usuario ${usuario.login}. 

Se adjunta el archivo correspondiente: 