La carga de la interfaz de Matriz de campaña se realizó satisfactoriamente 
<br><br>
#if($cantidadSinIndicador != 0)
	<dt><strong>Listado de productos sin indicador</strong></dt>
	<hr>	
	#foreach($productos in $listaProductos)
		<li>$productos.codigoSap &nbsp;&nbsp; $productos.descripcion</li>
	#end
#end
<br><br>
<br><br>
NOTA: Por favor no responda a este mensaje, es generado automáticamente desde una cuenta no monitoreada.