<font face="verdana" style="font-size:14px;">

	<br>
	<p>
		Adjuntamos el archivo de Facturación Adicional
	</p>
	
	<label style="font-size:12px;font-weight:bold;">
		NOTA: Por favor no responda a este mensaje, es generado autom&aacute;ticamente desde una cuenta no monitoreada.
	</label>

</font>




