Se ha realizado el envio del Reporte de Secuenciacion de Zonas y Territorios desde el Sistema de SSICC correspondiente al pais ${pais.descripcion}

Se adjunta archivo excel con la homologacion correspondiente para su carga en AIP

Por favor confirmar tal carga a:

#foreach($listado in $listaReporte)
<li>$listado.parametro</li>
#end
 

NOTA: Por favor no responda a este mensaje, es generado automáticamente desde una cuenta no monitoreada.
Proceso ejecutado por el usuario ${usuario.login}. 

Se adjunta el archivo correspondiente: 