<p style="font-family:Arial; font-size:16px;font-weight:bold;">
	Se informa que se le asignaron las siguientes carteras :
</p>

<p>
	<table style="width:600px; font-family:Arial;font-size:12px; border: 1px solid #000000;" cellpadding="0" cellspacing="0">
		<thead>
			<tr>
				<th style="background: #C0C0C0;border-bottom: 1px solid #000000;">ETAPA</th>
				<th style="background: #C0C0C0;border-bottom: 1px solid #000000;">PERIODO</th>
				<th style="background: #C0C0C0;border-bottom: 1px solid #000000;">REGION</th>
				<th style="background: #C0C0C0;border-bottom: 1px solid #000000;">IMPORTE ASIGNADO</th>
				<th style="background: #C0C0C0;border-bottom: 1px solid #000000;">CASOS ASIGNADOS</th>
			</tr>
		</thead>
		
		<tbody>
			#foreach($reg in $listaCuerpoEmail)
			<tr>
				<td style="text-align:center;">${reg.descripcionEtapa}</td>
				<td style="text-align:center;">${reg.codigoPeriodo}</td>
				<td style="text-align:center;">${reg.codigoRegion}</td>
				<td style="text-align:center;">${reg.importeAsignado}</td>
				<td style="text-align:center;">${reg.casosAsignados}</td>
			</tr>
			#end
		</tbody>
	</table>
</p>
<br>
<label style="font-size:12px;font-weight:bold;">
	NOTA: Por favor no responda a este mensaje, es generado automáticamente desde una cuenta no monitoreada.
</label>
