<font face="verdana">	

	<li>Tipo de Novedad: Ingreso </li>
	#if($indicadorIngresoDirectorioRegion != 0)
		<li>Ingreso a la Región: $ingresoDirectorio.codigoRegion </li>
	#end
	
	#if($indicadorIngresoDirectorioZona != 0)
		<li>Ingreso a la Zona: $ingresoDirectorio.codigoZona </li>
	#end		
		
	<li>Nombre: $ingresoDirectorio.nombreCliente </li>
	<li>Cargo:  $ingresoDirectorio.descripcionCargo	</li>		
	<li>Fecha:  $ingresoDirectorio.fechaIngreso	</li>
		
</font>