Emision de Alarma 
<br><br>
	<dt><strong>Listado de productos</strong></dt>
	<hr>	
	#foreach($productos in $listaProductos)
		<li>$productos.codigoSap &nbsp;&nbsp; $productos.descripcionCorta</li>
	#end
<br><br>
<br><br>
NOTA: Por favor no responda a este mensaje, es generado automáticamente desde una cuenta no monitoreada.

