<font face="verdana" style="font-size:14px;">

	Estimadas 
	<br><br>

	Junto con saludar, adjunto reporte de cobranza 31 d&iacute;as Campa&ntilde;a 01, incluye pesta&ntilde;as por zonas
	<br><br>
	
	<table style="width: 800px;" border="1" cellpadding="0" cellspacing="0">
		<thead>
			<tr>
				<th colspan="10" style="background-color: #69c;color: #FFF; font-weight: bold;text-align: center"> Estad&iacute;stico de Recuperaci&oacute;n de Cartera por Zona </th>		
			</tr>
			<tr>
				<th style="background-color: #69c;color: #FFF; font-weight: bold;text-align: center"> Campa&ntilde;a </th>		
				<th style="background-color: #69c;color: #FFF; font-weight: bold;text-align: center"> Zona </th>		
				<th style="background-color: #69c;color: #FFF; font-weight: bold;text-align: center"> Total Facturado </th>		
				<th style="background-color: #69c;color: #FFF; font-weight: bold;text-align: center"> Recaudado </th>		
				<th style="background-color: #69c;color: #FFF; font-weight: bold;text-align: center"> % Recuperaci&oacute;n </th>		
				<th style="background-color: #69c;color: #FFF; font-weight: bold;text-align: center"> Saldo Pendiente </th>		
				<th style="background-color: #69c;color: #FFF; font-weight: bold;text-align: center"> Falta 87% </th>		
				<th style="background-color: #69c;color: #FFF; font-weight: bold;text-align: center"> Falta 90% </th>
				<th style="background-color: #69c;color: #FFF; font-weight: bold;text-align: center"> Falta 93% </th>		
				<th style="background-color: #69c;color: #FFF; font-weight: bold;text-align: center"> Falta 95% </th>	
			</tr>
		</thead>
		<tbody>
			#foreach($listado in $listaReporte)
				<tr>
					<td  style="text-align:right;"> $listado.codigoPeriodo </td>
					<td  style="text-align:right;"> $listado.descripcionZona </td>
					<td  style="text-align:right;"> $listado.impFactura </td>
					<td  style="text-align:right;"> $listado.impFacturaNeto </td>
					<td  style="text-align:right;"> $listado.porcentRecupera </td>
					<td  style="text-align:right;"> $listado.impPendRecu </td>
					<td  style="text-align:right;"> $listado.impPendRecuEsti </td>
					<td  style="text-align:right;"> $listado.cob21 </td>
					<td  style="text-align:right;"> $listado.cob31 </td>
					<td  style="text-align:right;"> $listado.cobEsti31 </td>
				</tr>
			#end
		</tbody>
	</table>
	<br><br>

	<label style="font-size:12px;font-weight:bold;">
		NOTA: Por favor no responda a este mensaje, es generado autom&aacute;ticamente desde una cuenta no monitoreada.
	</label>

</font>




