<font face="verdana" style="font-size:14px;">

	<label style="font-size:12px;font-weight:bold;">
		NOTA: Por favor no responda a este mensaje, es generado automáticamente desde una cuenta no monitoreada.
	</label>
	<br><br>
	
	<table style="width: 490px;" border="1" cellpadding="0" cellspacing="0">
				<tr>
					<td  style="text-align:right;"> Tipo de Novedad: Ingreso </td>
				</tr>
				<tr>
					<td  style="text-align:right;"> Ingreso a la zona: $ingresoDirectorio.codigoZona </td>
				</tr>
				<tr>
					<td  style="text-align:right;"> Nombre: $ingresoDirectorio.nombreCliente </td>
				</tr>
				<tr>
					<td  style="text-align:right;"> Cargo: $ingresoDirectorio.codigoZona </td>
				</tr>
				<tr>
					<td  style="text-align:right;"> Fecha: $ingresoDirectorio.fechaIngreso </td>
				</tr>
	</table>
	<br><br>

	<label style="font-size:12px;font-weight:bold;">
		NOTA: Por favor no responda a este mensaje, es generado automáticamente desde una cuenta no monitoreada.
	</label>

</font>




