Se ha realizado el envio de los reportes al termino de facturación desde el Sistema de SSICC correspondiente al pais ${pais.descripcion} 


Se adjunta el archivo correspondiente:


NOTA: Por favor no responda a este mensaje, es generado automáticamente desde una cuenta no monitoreada.
Proceso ejecutado por el usuario ${usuario.login}. 
 