Acaba de terminar el Proceso de Calificación de Estatus por Cierre de Región para el pais ${codigoPais} y las regiones: ${regionesCerradas} y periodo: ${codigoPeriodo}.
<br><br>
El proceso se ha ejecutado OK, sin ningun error encontrado.
<br><br>
NOTA: Por favor no responda a este mensaje, es generado automáticamente desde una cuenta no monitoreada.


