<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">
<html>
<head>

  <meta content="text/html; charset=ISO-8859-1" http-equiv="content-type">
  <title></title>
</head>
<body>

<table border="0" cellpadding="0" cellspacing="0">
<tbody>

<tr>
      <td>
        <font face="Arial" size="2">Se ha realizado el envio de la <strong>Programación de Cierres</strong>&nbsp;desde el Sistema Comercial correspondiente al pais&nbsp;<strong>$paisDescripcion</strong>  
       </font>

      </td>
</tr>
<tr>
	<td>
		<font face="Arial" size="2"><br>
			<strong>
			NOTA: Por favor no responda a este mensaje, es generado automáticamente desde una cuenta no monitoreada.
			</strong>
			<br>
			Proceso ha sido <strong>APROBADO</strong> por el Usuario <strong>${login}</strong>.
			<br>
			<br> 
			</font>
	</td>	
	
</tr>

<tr>
	<td width="80%">
		<table border="1" cellpadding="0" cellspacing="0">
		  <tr>
		    <td background="#7030A0" bgcolor="#7030A0">
		       <font face="Arial" size="2" color="#ffffff"><b>&nbsp Campaña </b></font>
		    </td>
		    <td align="right"><font face="Arial" size="2"> $campanha </font></td>
 		   </tr>
		  <tr >
		    <td background="#7030A0" bgcolor="#7030A0">
		       <font face="Arial" size="2" color="#ffffff"><b>&nbsp Fecha Cierre </b></font>
		    </td>
		    <td align="right"><font face="Arial" size="2"> &nbsp $fechaCierre </font></td>
 		   </tr> 		   
 		</table>
	</td>
	
</tr>
<tr></tr>
 #if($indicadorCierreRegion == '1')
<tr>
	
	<td width="80%">
		<table  border="1" cellpadding="0" cellspacing="0">
		  <tr>
		    <td background="#7030A0" align="center" bgcolor="#7030A0">
		       <font face="Arial" size="2" color="#ffffff"><b> Regiones </b></font>
		    </td>
 		   </tr>
 		   
 		   #if($indicadorCierreRegion == '1')					
			#foreach($region in $regionList)
			  <tr>	
				<td align="left">
					<font face="Arial" size="2" > 
						&nbsp $region.codigoRegion - $region.descripcionRegion
					</font>	 
				</td>
			  </tr>	
			#end
		  #end
		</table>
	</td>
</tr>
#end
<tr></tr>
#if($indicadorCierreZona == '1')
<tr>	
	<td width="80%">
		<table  border="1" cellpadding="0" cellspacing="0">
		  <tr>
		    <td background="#7030A0" align="center" bgcolor="#7030A0">
		       <font face="Arial" size="2" color="#ffffff"><b> Zonas </b></font>
		    </td>
 		  </tr>
 		   
		  #if($indicadorCierreZona == '1')			
			#foreach($zona in $zonaList)
				<tr>
					<td align="left"> 
						<font face="Arial" size="2" > 
							&nbsp $zona.codigoZona - $zona.descripcionZona
						</font> 
					</td>
				</tr>
			#end
		  #end	
		</table>		
		
	</td>
</tr>		
#end	
<tr></tr>	  	
<tr>
      <td>
        <font face="Arial" size="3">    
			#if($indicadorCierreCampanha == 1)	
				Finalizado los Cierres de Zona y Región se debe proceder con el <strong>Cierre de Campaña $campanhaProceso </strong>
		    #end	
       </font>
       
      </td>
</tr>


</tbody>
</table>

<br>
</body>
</html>
