<font face="verdana">	

	<li>Tipo de Novedad: Licencias </li>
	<li>Nombre: $licencias.nombreCliente</li>
	<li>Cargo : $licencias.descripcionCargo </li>
	<li>Zona  : $licencias.unidadAdministrativa	</li>
	
	Periodo del Reemplazo: Del $licencias.fechaSalida Al $licencias.fechaRegreso
	
	Datos del reemplazante
	<li>Nombre: $licencias.nombreClienteReemplazo</li>
	<li>Cargo : $licencias.descripcionCargoReemplazo </li>
	<li>Zona  : $licencias.unidadAdministrativaReemplazo	</li>					
		
</font>