<STYLE TYPE="text/css">
<!--
TD, th{font-family: Arial; font-size: 10pt;}
--->
</STYLE>

	<br><br>
	
	<table style="width: 800px;" border="0" cellpadding="0" cellspacing="0">
		<tr>
			<th align="left">Tipo de Novedad: </th>		
			<td> ${tipoNovedad}</td>
		</tr>
		<tr>
			<th align="left">C&oacute;digo: </th>
			<td> ${codigoConsultora}</td>
		</tr>
		<tr>
			<th align="left">Nombre: </th>
			<td> ${nombresCompletosConsultora}</td>
		</tr>
		<tr>
			<th align="left">Cargo: </th>
			<td> ${CargoConsultora}</td>
		</tr>
		
		#if( $tipoUA == 'GR' )
		<tr>
			<th align="left">Region: </th>
			<td> ${codigoRegion}</td>
		</tr>
		#end
		
		#if( $tipoUA == 'GZ' )
		<tr>
			<th align="left">Region: </th>
			<td> ${codigoRegion}</td>
		</tr>
		<tr>
			<th align="left">Zona: </th>
			<td> ${codigoZona}</td>
		</tr>
		#end
		
		<tr>
			<th align="left">Periodo de Licencia: </th>
			<td>Fecha Salida ${fechaSalida}, Fecha Regreso ${fechaRegresoCorreo}</td>
		</tr>
		<tr>
			<td></td><td></td>
		</tr>
		
		#if( $enviarDatosReemplazante == 'S' )
			<tr>
				<th colspan="2" align="left">Datos del Reemplazante</th>
			</tr>
			<tr>
				<th align="left">C&oacute;digo: </th>
				<td> ${codigoConsultoraReemplazante}</td>
			</tr>
			<tr>
				<th align="left">Nombre: </th>
				<td> ${nombresCompletosConsultoraReemplazo}</td>
			</tr>
			<tr>
				<th align="left">Cargo: </th>
				<td> ${descripcionCargoReemplaan}</td>
			</tr>
			
			#if( $tipoUACargoReemplaan == 'R' )
			<tr>
				<th align="left">Region: </th>
				<td> ${codigoRegionReem}</td>
			</tr>
			#end
			
			#if( $tipoUACargoReemplaan == 'Z' )
			<tr>
				<th align="left">Region: </th>
				<td> ${codigoRegionReem}</td>
			</tr>
			<tr>
				<th align="left">Zona: </th>
				<td> ${codigoZonaReem}</td>
			</tr>
			#end
		#end
	</table>
	<br><br>

	<label style="font-size:12px;font-weight:bold;">
		NOTA: Por favor no responda a este mensaje, es generado autom&aacute;ticamente desde una cuenta no monitoreada.
	</label>
