Se ha realizado el envio del Cronograma de Dictado desde el Sistema de Educación correspondiente al pais ${pais.descripcion} 

NOTA: Por favor no responda a este mensaje, es generado automáticamente desde una cuenta no monitoreada.
Proceso ejecutado por el usuario ${usuario.login}. 

Se adjunta el archivo correspondiente: 