Se ejecuto la interfaz paquete ${interfaz.codigo} ${interfaz.descripcion} desde el desde el Sistema de SSICC correspondiente al pais ${pais.descripcion} 

    Interfaz,   Directorio,    Nombre Archivo,    NumeroLote,     Estado,    N° registros
#foreach($item in $listaInterfaces)
	#if($item.interfaz.tipoGeneracion == 'U')
    	${item.codigoInterfaz} ${item.interfaz.descripcion}   ${item.interfaz.directorioEntradaSalida} #if($item.interfaz.tipo == 'E')${item.nombreArchivo} #else ${item.historicoFileName}#end   ${item.numeroLote}    ${item.estadoProceso}   ${item.registrosProcesados}
    #end  	
#end
	

NOTA: Por favor no responda a este mensaje, es generado automáticamente desde una cuenta no monitoreada.
Proceso ejecutado por el usuario ${usuario.login}. 

 