<font face="verdana" style="font-size:14px;">

	La opción de menu <b>"Generar solicitudes de atención premios Privilege"</b> ha sido ejecutada 
	<br><br>

	<label style="font-size:12px;font-weight:bold;">
		NOTA: Por favor no responda a este mensaje, es generado automáticamente desde una cuenta no monitoreada.
	</label>
	<br><br>
	
	<table style="width: 490px;" border="1" cellpadding="0" cellspacing="0">
		<thead style="background-color: #69c;color: #FFF; font-weight: bold;text-align: center">
			<tr>
				<th> Listado de Productos con Problemas de Stock </th>		
			</tr>
		</thead>
		<tbody>
			<tr>
				<td> El proceso de Asignación de Stock esta correcto </td>		
			</tr>
		</tbody>
	</table>
	<br><br>

	<label style="font-size:12px;font-weight:bold;">
		NOTA: Por favor no responda a este mensaje, es generado automáticamente desde una cuenta no monitoreada.
	</label>

</font>

