Estimado (a) ${nombreCompleto}

 

Nos es grato saludarlo(a) y a la vez hacerle llegar su número de usuario y nueva contraseña con lo cual podrá acceder al Sistema Comercial Corporativo – SSiCC.

 

Usuario: ${login} 

 

Nueva Contraseña : $password 

 

Si desea cambiar la contraseña enviada lo puede hacer a través de la aplicación, haciendo click en “Cambiar Contraseña”.

Cualquier consulta en relación a temas de Seguridad puede enviar correo a la cuenta <strong>Corp. Soporte FFVV</strong>.

 

NOTA: Por favor no responda a este mensaje, es generado automáticamente desde una cuenta no monitoreada.