Acaba de terminar el Proceso de Calificación de Estatus por Cierre de Campaña para el pais ${codigoPais} y periodo: ${codigoPeriodo}.
<br><br>
#if($totalErrores == '0')	
El proceso se ha ejecutado OK, sin ningun error encontrado.
#end	
#if($totalErrores != '0'	)	
El proceso se ha ejecutado OK, pero se han encontrado ${totalErrores} errores. Para ver estos errores debe ir a la opcion MAE -> Resolver Mensajes Estatus.
#end	
<br><br>
NOTA: Por favor no responda a este mensaje, es generado automáticamente desde una cuenta no monitoreada.


