<font face="verdana">	
Hola ${nombreCobrador}<p>

   El sistema terminó el proceso de Asignación de Cartera satisfactoriamente.<br><p> 
   Se le asignó la siguiente cartera : <br><p>
   <b>Etapa   :</b> ${descripcionEtapaDeuda}<br>
   <b>Campaña :</b> ${codigoPeriodo} <br>
   <b>Region  :</b> ${descripcionRegion}<br> 
   <b>Zona    :</b> ${descripcionZona} <br><p>  
NOTA: Cualquier duda o consulta, escribir a jflorencio@belcorp.biz.
</font>