<font face="verdana">
<br><br>	
La opción de menu "Actualizar Seguimiento de Levantamientos" ha sido ejecutada 
<br><br>
</font>
NOTA: Por favor no responda a este mensaje, es generado automáticamente desde una cuenta no monitoreada.