<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">
<html>
<head>

  <meta content="text/html; charset=ISO-8859-1" http-equiv="content-type">
  <title>Ejecucion Interfaz Paquete</title>
</head>
<body>

<table style="text-align: left; width: 800px;" border="0" cellpadding="0" cellspacing="0">
<tbody>

<tr>
      <td>
        <font color="#4188b2" face="Arial" size="3">Se ejecuto la interfaz paquete <strong>${interfaz.codigo}&nbsp;${interfaz.descripcion}</strong>&nbsp;desde el Sistema de SSICC correspondiente al pais&nbsp;<strong>${pais.descripcion}</strong>  
          <strong>
       </font>

      </td>
</tr>

</tbody>
</table>

<br>
<br>

<table border="1" cellpadding="0" cellspacing="0">
  <thead style="background-color: #69c;color: #FFF; font-weight: bold;text-align: center">
  <tr>
    <th>Interfaz</th>
    <th>Directorio</th>
    <th>Nombre Archivo</th>
    <th>Numero Lote</th>
    <th>Estado</th>
    <th>N° Registros</th>
  </tr>
  </thead>
    
  #foreach($item in $listaInterfaces)
	#if($item.interfaz.tipoGeneracion == 'U')
	  <tr>
	    <td>${item.codigoInterfaz} ${item.interfaz.descripcion}</td>
	    <td>${item.interfaz.directorioEntradaSalida}</td>
	    <td>#if($item.interfaz.tipo == 'E')${item.nombreArchivo} #else ${item.historicoFileName}#end</td>
	    <td>${item.numeroLote}</td>
	    <td>${item.estadoProceso}</td>
	    <td>${item.registrosProcesados}</td>
	  </tr>
    #end  	
  #end
</table>

<br>
<br>

<font face="Arial" size="1"><br>
<strong>
NOTA: Por favor no responda a este mensaje, es generado automáticamente desde una cuenta no monitoreada.
</strong>
<br>
Proceso ejecutado por el Usuario <strong>${usuario.login}</strong>.
</font>
<br>
<br>
<br>
</body>
</html>
