Se ejecuto la interfaz unitaria ${interfaz.codigo} ${interfaz.descripcion} desde el desde el Sistema de SSICC correspondiente al pais ${pais.descripcion} 

Directorio: ${interfaz.directorioEntradaSalida} 
#if($interfaz.tipo == 'E')NombreArchivo: ${historico.nombreArchivo} #end  
#if($interfaz.tipo == 'S')NombreArchivo: ${historico.historicoFileName} #end  
NumeroLote: ${historico.numeroLote}
#if($historico.estadoProceso == '0')Estado: EXITOSO #end  
#if($historico.estadoProceso != '0')Estado: ERROR #end 
N° registros: ${historico.registrosProcesados} 

NOTA: Por favor no responda a este mensaje, es generado automáticamente desde una cuenta no monitoreada.
Proceso ejecutado por el usuario ${usuario.login}. 
 
 