Emision de Alarma Relativas a Producto
<br><br>
	<dt><strong>Codigo     Descripcion     Alto     Largo     Ancho     UM. Dimensiones     Volumen     UM. Volumen     Peso     UM. Peso     AFP    Unidades</strong></dt>
	<hr>	
	#foreach($productos in $listaProductos)
		<li>$productos.codSAP &nbsp;&nbsp; $productos.desSAP &nbsp;&nbsp; $productos.valAlto &nbsp;&nbsp; $productos.valLargo &nbsp;&nbsp; $productos.valAncho &nbsp;&nbsp; $productos.umdDimension &nbsp;&nbsp; $productos.valVolumen &nbsp;&nbsp; $productos.umdVolumen &nbsp;&nbsp; $productos.valPeso &nbsp;&nbsp; $productos.umdPeso &nbsp;&nbsp; $productos.indAFP &nbsp;&nbsp; $productos.uniCaja</li>
	#end
<br><br>
<br><br>
NOTA: Por favor no responda a este mensaje, es generado automáticamente desde una cuenta no monitoreada.