<font face="verdana">	
	<li>Campaña: $codigoPeriodo </li>
	#foreach($seccionesNuevasSinPedidos in $seccionesNuevasSinPedidosList)
		<li>Zona: $seccionesNuevasSinPedidos.codigoZona </li>
		<li>Sección: $seccionesNuevasSinPedidos.codigoSeccion </li>
		<br><br>
	#end
</font>