<font face="verdana">
<br><br>	
 Ha ocurrido un error en el proceso de Recepcion de Ventas Retail ... Avisar Analista Responsable. 
<br><br>
 ${msgError}	
</font>
NOTA: Por favor no responda a este mensaje, es generado automáticamente desde una cuenta no monitoreada.