Acaba de terminar el Proceso de Calificación de Estatus por Facturación Diaria para el pais ${codigoPais}, con FechaFacturacion: ${fechaFacturacion} y periodo: ${codigoPeriodo}.
<br><br>
El proceso se ha ejecutado OK, pero se han encontrado ${totalErrores} errores. Para ver estos errores debe ir a la opcion MAE -> Resolver Mensajes Estatus.
<br><br>
NOTA: Por favor no responda a este mensaje, es generado automáticamente desde una cuenta no monitoreada.

