<font face="verdana">
<br><br>	
La opción de menu "Generar solicitudes de atención premios Privilege" ha sido ejecutada
<br><br>	
El proceso de Asignación de Stock esta correcto
<br><br>
</font>
NOTA: Por favor no responda a este mensaje, es generado automáticamente desde una cuenta no monitoreada.