<font face="verdana">	

	<li>Tipo de Novedad: Novedad por Cambio de Cargo </li>
	#if($indicadorNovedadCargoRegionSale != 0)
		<li>Sale de la región: $novedadCargo.codigoRegionSale </li>
	#end
	#if($indicadorNovedadCargoZonaSale != 0)
		<li>Sale de la zona: $novedadCargo.codigoZonaSale </li>
	#end
	#if($indicadorNovedadCargoRegionEntra != 0)
		<li>Ingresa a region: $novedadCargo.codigoRegion </li>
	#end
	#if($indicadorNovedadCargoZonaEntra != 0)
		<li>Ingresa a la zona: $novedadCargo.codigoZona </li>
	#end	
	<li>Nombre: $novedadCargo.nombreCliente </li>
	<li>Cargo:  $novedadCargo.descripcionCargo	</li>		
	<li>Fecha:  $novedadCargo.fechaNombramiento	</li>
		
</font>