Se rechazo el ingreso de la consultora ${nombreCliente} con tipo de documento ${tipoDocumento}.
<br><br>
Cedula Nro: ${numeroDocuIden}
<br><br>
Motivo de Rechazo: ${descMotivoRechazo}
<br><br>
Documento Interno Nro.: ${numeroOperacion}
<br><br>
Con las siguientes Observaciones ${observaciones}
<br><br>
NOTA: Por favor no responda a este mensaje, es generado automáticamente desde una cuenta no monitoreada.
