<font face="verdana">
<br><br>	
La opción de menu "Generar solicitudes de atención premios Privilege" ha sido ejecutada 
<br><br>

	<dt><strong>oid_sap  suma  saldo  xx</strong></dt>
	<hr>	
	#foreach($listado in $listaReporte)
		<li>$listado.codigoSAP &nbsp;&nbsp; $listado.saldo &nbsp;&nbsp; $listado.unidadCompra &nbsp;&nbsp; $listado.cantidad</li>
	#end

<br><br>
<br><br>
</font>
NOTA: Por favor no responda a este mensaje, es generado automáticamente desde una cuenta no monitoreada.


