<STYLE TYPE="text/css">
<!--
TD, th{font-family: Arial; font-size: 10pt;}
--->
</STYLE>

	<br><br>
	
	<table style="width: 80%;" border="0" cellpadding="0" cellspacing="0">

		<tr>
			<th align="left">Tipo de Novedad:</th>		
			<td> ${tipoNovedad}</td>
		</tr>

		<tr>
			<th align="left">Código: </th>
			<td> ${codigoConsultora}</td>
		</tr>
		
		<tr>
			<th align="left">Nombre: </th>
			<td> ${nombresCompletosConsultora}</td>
		</tr>

		<tr>
			<th align="left">Rotacion:</th>
			<td valign="top"> 
				<table width="100%">
					<tr>
						<th align="left">Regi&oacute;n Actual</th>
						<th align="left">Zona Actual</th>
						<th align="left">Personal</th>
						<th align="left">Regi&oacute;n Nueva</th>
						<th align="left">Zona Nueva</th>
					</tr>
					#foreach($reg in $listaRotar)
					<tr>
						<td align="left">$reg.descRegi</td>
						<td align="left">
							#if($reg.descZona)
								$reg.descZona
							#end
						</td>
						<td align="left">$reg.nombre</td>
						<td align="left">
							#if($reg.nombreRegionNueva)
								$reg.nombreRegionNueva
							#end
						</td>
						<td align="left">
							#if($reg.nombreZonaNueva)
								$reg.nombreZonaNueva
							#end
							</td>
					</tr>
					#end
				</table>
			</td>
		</tr>
		
		<tr>
			<th align="left">Fecha:</th>
			<td> ${fechaRegistro}</td>
		</tr>
				
	</table>
	<br><br>

	<label style="font-size:12px;font-weight:bold;">
		NOTA: Por favor no responda a este mensaje, es generado autom&aacute;ticamente desde una cuenta no monitoreada.
	</label>

