Se ha realizado el envio de la Programación de Cierres desde el Sistema Comercial correspondiente al pais ${pais.descripcion} 

NOTA: Por favor no responda a este mensaje, es generado automáticamente desde una cuenta no monitoreada.
Proceso ha sido <strong>APROBADO</strong>  por el usuario ${login}.
<font face="verdana">
<li>Campaña: $campanhaProceso </li>
<li>Fecha Cierre: $fechaCierrre </li>
<br><br>
#if($indicadorCierreRegion == '1')	
	<dt><strong>Regiones</strong></dt>
	<hr>	
	#foreach($region in $regionList)
		<li>$region.codigoRegion - $region.descripcionRegion</li>
	#end
#end	
<br><br>
	#if($indicadorCierreZona == 1)	
	<dt><strong>Zonas</strong></dt>
	<hr>	
	#foreach($zona in $zonaList)
		<li>$zona.codigoZona - $zona.descripcionZona</li>
	#end
#end	
<br><br>
	#if($indicadorCierreCampanha == 1)	
	 Finalizado los Cierres de Zona y Región se debe proceder con el <strong>Cierre de Campaña $campanhaProceso </strong>
    #end	
<br><br>	
</font>    
     
 