<frmcp>
    <cab>
        <ccon>$consultora.CODIGO_CONSULTORA</ccon>
        <ncon>$consultora.NOMBRE_CONSULTORA</ncon>
        <cter>$consultora.CODIGO_TERRITORIO</cter>
        <nbd>$consultora.NUMERO_FACTURA</nbd>
        <fcam>$consultora.PERIODO_PEDIDO</fcam>
        <femi>$consultora.FECHA_FACTURACION</femi>
    </cab>
    #set($contador = 1)
    #set ($ind = "N")
    #if($indicadorLEbel == $ind)
        #if($fichasInscripcion && $fichasInscripcion.size()>0)
            <titulo><txt><b>${contador}.<t/>FICHAS DE INSCRIPCION REGISTRADAS</b></txt><txt/></titulo>
            <tabla01>
                <bx><txt><b><t/><t/><t/>DOCUMENTO<t/>CODIGO<tr/>PUNTAJE</b></txt><txt><b><t/>#FICHA<t/>APELLIDOS Y NOMBRES<t/>IDENTIDAD<t/>CLIENTE<tr/>ABONADO</b></txt></bx>
                <txt/>
                #foreach($ficha in $fichasInscripcion)
                <txt><t/>$ficha.NUMERO_FICHA<t/>$ficha.NOMBRE_CLIENTE<t/>$ficha.NUMERO_DOCUMENTO<t/>$ficha.CODIGO_CLIENTE<tr/>$ficha.PUNTAJE_ABONADO</txt>
                #end
                <txt/>
                <txt/>
            </tabla01>
            #set($contador = $contador + 1)
        #end
        #if($tarjetasPuntos && $tarjetasPuntos.size() > 0)
            <titulo><txt><b>${contador}.<t/>TARJETAS DE PUNTOS REGISTRADAS</b></txt><txt/></titulo>
            <tabla02>
                <bx><txt><b><t/><t/><t/>CODIGO<tr/>PTOS<tr/>+PTOS<tr/>+PTOS<tr/>-PTOS<tr/>-PTOS<tr/>=SALDO</b></txt><txt><b><t/>#TARJETA<t/>APELLIDOS Y NOMBRES<t/>CLIENTE<tr/>TARJ<tr/>ACUM<tr/>CANJ<tr/>GANAD<tr/>COMPRO<tr/>ACTUAL</b></txt></bx>
                <txt/>
                #foreach($tarjeta in $tarjetasPuntos)
                <txt><t/>$tarjeta.NUMERO_TARJETA<t/>$tarjeta.NOMBRE_CLIENTE<t/>$tarjeta.CODIGO_CLIENTE<tr/>$tarjeta.PUNTAJE_TOTAL<tr/>$tarjeta.PUNTAJE_ACUMULADO<tr/>$tarjeta.PUNTAJE_UTILIZADO<tr/>$tarjeta.PUNTAJE_ABONADO<tr/>$tarjeta.PUNTAJE_COMPROMETIDO<tr/>$tarjeta.SALDO_PUNTOS</txt>
                #end
                <txt/>
                <txt/>
            </tabla02>
            #set($contador = $contador + 1)
        #end 
        #if($premiosSolicitados && $premiosSolicitados.size() > 0)
            <titulo><txt><b>${contador}.<t/>PREMIOS SOLICITADOS</b></txt><txt/></titulo>
            <tabla03>
                <bx><txt><b><t/><t/><t/>CODIGO<t/><t/><t/><tr/></b></txt><txt><b><t/>TARJETA<t/>APELLIDOSYNOMBRES<t/>CLIENTE<t/>PREMIO<t/>STATUS<t/>OBSERVACION<tr/>PUNTOS</b></txt></bx>
                <txt/>
                #foreach($premio in $premiosSolicitados)
                <txt><t/>$premio.NUMERO_TARJETA<t/>$premio.NOMBRE_CLIENTE<t/>$premio.CODIGO_CLIENTE<t/>$premio.DESCRIPCION_PRODUCTO<t/>$premio.STATUS_PREMIO<t/>$premio.OBSERVACION_PREMIO<tr/>$premio.PUNTAJE_TOTAL</txt>
                #end
                <txt/>
                <txt/>
            </tabla03>
            #set($contador = $contador + 1)
        #end
        #if($clientesCumpleanyos && $clientesCumpleanyos.size() > 0)
            <titulo><txt><b>${contador}.<t/>EN ESTA CAMPAÑA SALUDA A:</b></txt><txt/></titulo>
            <tabla04>
                <bx><txt><b><t/>COD.CLI.<t/>NOMBRE DEL CLIENTE<tc/>FECHA.CUMP.<t/>TELEFONOS</b></txt></bx>
                <txt/>
                #foreach($cliente in $clientesCumpleanyos)
                <txt><t/>$cliente.CODIGO_CLIENTE<t/>$cliente.NOMBRE_CLIENTE<tc/>$cliente.FECHA_CUMPLEANYOS<t/>$cliente.TELEFONO_CLIENTE</txt>
                #end
                <txt/>
            </tabla04>
            #set($contador = $contador + 1)
        #end
    #else
        #if($longitudPrivilege)
            <txt><b>$mensaje_Privilege_parrafo1</b></txt>
            <txt><b>$mensaje_Privilege_parrafo2</b></txt>
            <txt><b>$mensaje_Privilege_parrafo3</b></txt>
            <txt/>
        #end
        #if( ($movimientoClientes && $movimientoClientes.size()>0) || ($clientesRechazados && $clientesRechazados.size()>0))
            <titulo><txt><b>${contador}.<t/>MIS CLIENTES INSCRITOS</b></txt><txt/></titulo>
            <tabla01>
                #if($movimientoClientes && $movimientoClientes.size() > 0)
                    <bx><txt/><txt><b>Clientes inscritos en las últimas 6 campañas</b></txt><txt/></bx>
                    <txt><t/><t/><t/>Campaña<t/>Puntos por<t/>Puntos</txt>
                    <txt><t/>Código<t/>Nombre<t/>Inscripcion<t/>Inscripcion<t/>Disponibles</txt>
                    <txt>-------------------------------------------------------------------------------------------------------------</txt>
                    #foreach($movimiento in $movimientoClientes)
                    <txt><t/>$movimiento.CODIGO_CLIENTE<t/>$movimiento.NOMBRE_CLIENTE<t/>$movimiento.PERIODO_INGRESO<t/>$movimiento.PUNTOS_INSCRIPCION<t/>$movimiento.SALDO_PUNTOS</txt>
                    #end
                #end
                #if($clientesRechazados && $clientesRechazados.size() > 0)
                    <bx><txt/><txt><b>Clientes que no pudieron ser inscritos por datos incompletos</b></txt><txt/></bx>
                    <txt><t/>Documento<t/>Nombre del<t/></txt>
                    <txt><t/>Identidad<t/>Cliente<t/>Teléfono</txt>
                    <txt>-------------------------------------------------------------------------------------------------------------</txt>
                    #foreach($cliente in $clientesRechazados)
                    <txt><t/>$cliente.NUMERO_DOCUMENTO<t/>$cliente.NOMBRE_CLIENTE<t/>$cliente.NUMERO_TELEFONO</txt>
                    #end
                #end
                <txt/>
                <txt/>
            </tabla01>
            #set($contador = $contador + 1)
        #end
        #if($premiosSolicitados && $premiosSolicitados.size() > 0)
            <titulo><txt><b>${contador}.<t/>PREMIOS SOLICITADOS Y PUNTOS ACUMULADOS</b></txt><txt/></titulo>
            <tabla07>
                <bx><txt/><txt><b>Premios Solicitados</b></txt><txt/></bx>
                <txt>Código del cliente<t/>Nombre del Cliente<t/>Premio<t/>Estatus<t/>Motivo<tr/>Puntos</txt>
                <txt>-------------------------------------------------------------------------------------------------------------</txt>
                #foreach($premio in $premiosSolicitados)
                <txt>$premio.CODIGO_CLIENTE<t/>$premio.NOMBRE_CLIENTE<t/>$premio.DESCRIPCION_PRODUCTO<t/>$premio.STATUS_PREMIO<t/>$premio.OBSERVACION_PREMIO<tr/>$premio.PUNTAJE_TOTAL</txt>
                #end
                #if($premiosAcumulados && $premiosAcumulados.size() > 0)
                    <bx><txt/><txt><b>Puntos Acumulados</b></txt><txt/></bx>
                    <txt>Código del cliente<t/>Nombre del Cliente<t/>Total Ptos Disponibles</txt>
                    <txt>-------------------------------------------------------------------------------------------------------------</txt>
                    #foreach($premioAcum in $premiosAcumulados)
                    <txt>$premioAcum.CODIGO_CLIENTE<t/>$premioAcum.NOMBRE_CLIENTE<t/>$premioAcum.SALDO_PUNTOS</txt>
                    #end
                #end
            </tabla07>
            <txt/>
            #set($contador = $contador + 1)
        #else
            #if($premiosAcumulados && $premiosAcumulados.size() > 0)
                <titulo><txt><b>${contador}.<t/>PUNTOS ACUMULADOS</b></txt><txt/></titulo>
                <tabla07>
                    <bx><txt/><txt><b>Puntos Acumulados</b></txt><txt/></bx>
                    <txt>Código del cliente<t/>Nombre del Cliente<t/>Total Ptos Disponibles</txt>
                    <txt>-------------------------------------------------------------------------------------------------------------</txt>
                    #foreach($premioAcum in $premiosAcumulados)
                    <txt>$premioAcum.CODIGO_CLIENTE<t/>$premioAcum.NOMBRE_CLIENTE<t/>$premioAcum.SALDO_PUNTOS</txt>
                    #end
                </tabla07>
                <txt/>
                #set($contador = $contador + 1)
            #end
        #end
        #if($carneBeneficios && $carneBeneficios.size() > 0)
            <titulo><txt><b>${contador}.<t/>CARNÉ DE BENEFICIOS</b></txt><txt/></titulo>
            <tabla08>
                <bx><txt/><txt><b>Entrégale su carné de beneficios a</b></txt><txt/></bx>
                <txt>Código<t/>Nombre<tc/>Puntos Disponibles<t/>Teléfonos</txt>
                <txt>-------------------------------------------------------------------------------------------------------------</txt>
                #foreach($carneBenef in $carneBeneficios)
                <txt>$carneBenef.CODIGO_CLIENTE<t/>$carneBenef.NOMBRE_CLIENTE<tc/>$carneBenef.SALDO_PUNTOS<t/>$carneBenef.TELEFONO_CLIENTE</txt>
                #end
            </tabla08>
            <txt/>
            #set($contador = $contador + 1)
        #end
        #if($clientesCumpleanyos && $clientesCumpleanyos.size() > 0)
            <titulo><txt><b>${contador}.<t/>HERRAMIENTAS PRIVILEGE PARA TU NEGOCIO</b></txt><txt/></titulo>
            <tabla08>
                <bx><txt/><txt><b>En esta campaña saluda por su Cumpleaños a</b></txt><txt/></bx>
                <txt>Código del cliente<t/>Nombre del cliente<t/>Fecha<t/>Teléfonos</txt>
                <txt>-------------------------------------------------------------------------------------------------------------</txt>
                #foreach($cliente in $clientesCumpleanyos)
                <txt>$cliente.CODIGO_CLIENTE<t/>$cliente.NOMBRE_CLIENTE<tc/>$cliente.FECHA_CUMPLEANYOS<t/>$cliente.TELEFONO_CLIENTE</txt>
                #end
            </tabla08>
            <txt/>
            #set($contador = $contador + 1)
        #end
        <tabla08>
            <bx><txt/><txt><b>Visita MyLbel.com</b></txt><txt/></bx>
            <txt>Utiliza esta información para visitar a tus clientes, brinda un mejor servicio y asegura tu negocio.</txt>
        </tabla08>
        <txt/>
    #end
</frmcp>