.ui-state-hover, .ui-widget-content .ui-state-hover, .ui-widget-header .ui-state-hover, .ui-state-focus, .ui-widget-content .ui-state-focus, .ui-widget-header .ui-state-focus{
	
	border:1px solid #654b24;
	background:#654b24 url("/nssicc_web/javax.faces.resource/images/ui-bg_fine-grain_65_654b24_60x60.png.xhtml?ln=primefaces-pepper-grinder") 50% 50% repeat;
	background:#BCBCBC url("/nssicc_web/javax.faces.resource/images/ui-bg_fine-grain_65_654b24_60x60.png.xhtml?ln=primefaces-pepper-grinder") 50% 50% repeat;
	
	font-weight:bold;
	color:#ffffff;
	
	background: #65B2FF;
	background:#B4CDE6;
	color: #33AFDE;
	color: #616161;
	background:#ffffff;
	background:#B4CDE6;
}


.pe-layout-pane-content {
   /* background: #F2F2F2; */
  
}

.ui-widget-content {
    /*background: #F2F2F2; */
  
}

.ui-panelgrid, .ui-panelgrid-even,  .ui-panelgrid-odd  {
	background:#D8D8D8;
	background:#FFFFFF;
}

.ui-fieldset {
    border: 2px solid #A9A9AA;
    border: 2px solid #65B2FF;
}

.ui-tabs, .ui-panel .ui-tabs {
	border-bottom: 4px solid #B4CDE6;
}


.ui-panelgrid-header {
	float: left;
}

/* TABS */
.clsTabCabeceraFija .ui-tabs-nav {
	position: relative;
	top: -20px;
	left: -20px;
	z-index: 2;
}

.clsTabCabeceraFija .ui-tabs-panel {
	position:  relative;
	top: -25px;
	left: -20px;
	z-index: 1;
}

.clsTabVertical .ui-tabs-nav {
	-webkit-transform:  rotate(-90deg);
	-moz-transform:  rotate(-90deg);
	-o-transform:  rotate(-90deg);
	transform:  rotate(-90deg);
	position: relative;
	left: -530px;
	z-index: 2;
}

.clsTabVertical .ui-tabs-panel {
	position:  relative;
	top: -50px;
	z-index: 1;
}


.ui-widget-content .ui-corner-all .pe-layout-pane-content,
.ui-widget-content .ui-corner-all .pe-layout-pane-content,
.ui-corner-all .pe-layout-pane-content,
.pe-layout-pane-content
 {
 /*
	left: -5px;
	*/
}

@-webkit-keyframes blink {
  0%     { opacity: 0 } 50% { opacity: 0 }
  50.01% { opacity: 1 } 100% { opacity: 1 }
}
 
blink {
  color: yellow;
  -webkit-animation: blink 0.7s infinite linear alternate;
  -webkit-font-smoothing: antialiased;
}

body {
	margin: 0px;
	padding: 0px;
	font-size: 10px;
	font-family: Tahoma, Arial, Verdana, Helvetica, sans-serif;
	color: #616161;
	background: #F3F6F8;
	/*
	height:100%;
	*/
}

html {
	height:100%;
}


a img {
	border: none;
}


img.left {
	float: left;
	margin: 0 20px 0 0;
}

img.right {
	float: right;
	margin: 0 0 0 20px;
}



/* LABEL */
.clsEncabezado {
    color:#FFF;   
	text-shadow:1px 1px 1px #BCBCBC;
	font-size: 16px;
	FONT-WEIGHT: bold;
	font-family:  Helvetica, Arial,sans-serif !important;
}

.clsLabel {
    font-family: Trebuchet MS, Tahoma,  Arial !important;
    font-family: Arial, Trebuchet MS, Tahoma !important;
    font-family: Tahoma, Trebuchet MS, Arial !important;
	font-size:11px;
	color: #4167B1;
	
	FONT-WEIGHT: normal;
}	

.clsLabelRequerido {
    font-family: Trebuchet MS, Tahoma,  Arial !important;
    font-family: Arial, Trebuchet MS, Tahoma !important;
    font-family: Tahoma, Trebuchet MS, Arial !important;
	font-size:11px;
	FONT-WEIGHT: bold;
	color: #1E3D62;
	color: #4167B1;
	
}	

.clsLabelIzquierdaKey {
    font-family: Trebuchet MS, Tahoma,  Arial !important;
    font-family: Arial, Trebuchet MS, Tahoma !important;
    font-family: Tahoma, Trebuchet MS, Arial !important;
	font-size:11px;
	font-size: .98em;
	color: #4167B1;	
	FONT-WEIGHT: normal;
	float: right;
}

.clsLabelKey {
    font-family: Trebuchet MS, Tahoma,  Arial !important;
    font-family: Arial, Trebuchet MS, Tahoma !important;
    font-family: Tahoma, Trebuchet MS, Arial !important;
	font-size:11px;
	font-size: .98em;
	color: #4167B1;	
	FONT-WEIGHT: normal;
	float: left;
}

.clsLabelIzquierdaRequeridoKey {
    font-family: Trebuchet MS, Tahoma,  Arial !important;
    font-family: Arial, Trebuchet MS, Tahoma !important;
    font-family: Tahoma, Trebuchet MS, Arial !important;
	font-size:11px;
	FONT-WEIGHT: bold;
	font-size: .98em;
	color: #4167B1;	
	float: right;	
}

.clsLabelRequeridoKey {
    font-family: Trebuchet MS, Tahoma,  Arial !important;
    font-family: Arial, Trebuchet MS, Tahoma !important;
    font-family: Tahoma, Trebuchet MS, Arial !important;
	font-size:11px;
	FONT-WEIGHT: bold;
	font-size: .98em;
	color: #4167B1;	
	float: left;	
}
 
.clsLabelIzquierdaRequerido {
    font-family: Trebuchet MS, Tahoma,  Arial !important;
    font-family: Arial, Trebuchet MS, Tahoma !important;
    font-family: Tahoma, Trebuchet MS, Arial !important;
	font-size:11px;
	color: #4167B1;	
	color: #1E3D62;
	
	font-weight: bold;
}

.clsLabelIzquierda {
    font-family: Trebuchet MS, Tahoma,  Arial !important;
    font-family: Arial, Trebuchet MS, Tahoma !important;
    font-family: Tahoma, Trebuchet MS, Arial !important;
	font-size:11px;
	color: #4167B1;	
	color: #1E3D62;
	
	font-weight: normal;
}

.clsLabelIzquierdaBlanco {
    font-family: Trebuchet MS, Tahoma,  Arial !important;
    font-family: Arial, Trebuchet MS, Tahoma !important;
    font-family: Tahoma, Trebuchet MS, Arial !important;
	font-size:11px;
	font-weight: normal;
	color: #FFFFFF;	
}

.clsLabelDerecha {
    font-family: Trebuchet MS, Tahoma,  Arial !important;
    font-family: Arial, Trebuchet MS, Tahoma !important;
    font-family: Tahoma, Trebuchet MS, Arial !important;
	font-size:11px;
	
}

.clsLabelSubtitleIzquierda {
    font-family: Trebuchet MS, Tahoma,  Arial !important;
    font-family: Arial, Trebuchet MS, Tahoma !important;
    font-family: Tahoma, Trebuchet MS, Arial !important;
	font-size:11px;
	FONT-WEIGHT: bold;
	color: #1c2a47;	
	color: #4167B1;
	
}

.clsEncabezadoPantalla {
    color:#536060;
    color:#1E3D62;
    color:#1E3D62;
    /* text-shadow:2px 2px 2px #FFFFFF;*/
	font-size: 14px;
	FONT-WEIGHT: bold;
	font-family:  Tahoma, Verdana, Arial,sans-serif !important;
}

.clsSubEncabezadoPantalla {
    color:#043668;
   /* text-shadow:2px 2px 2px #FFFFFF;*/
	font-size: 16px;
	FONT-WEIGHT: bold;
	font-family:  Arial,sans-serif !important;
	white-space: normal;
}

.clsSubEncabezadoPantalla02 {
    color:#FFFFFF;
    text-shadow:2px 2px 2px #043668;
	font-size: 16px; 
	FONT-WEIGHT: bold;
	font-family:  Arial,sans-serif !important;
}


.clsSubEncabezadoPantallaLogin {
    color:#043668;
    font-size: 26px;
    FONT-WEIGHT: bold;
    text-shadow:2px 2px 2px #FFFFFF;
    font-family: Arial Black;
}

.clsSubEncabezadoPantalla03 {
    color:#043668;
    font-size: 18px;
    FONT-WEIGHT: bold;
    text-shadow:2px 2px 2px #FFFFFF;
    font-family: Tahoma, Trebuchet MS,  Arial;
}

.clsSubEncabezadoPantalla04 {
    color:#FFFFFF;
    text-shadow:2px 2px 2px #043668;
	font-size: 12px;
	FONT-WEIGHT: bold;
	font-family:  Arial,sans-serif !important;
}

.clsSubEncabezadoPantalla05 {
    color:#FF8C00;
    color: #65B2FF;
    font-size: 18px; 
	FONT-WEIGHT: bold;
	font-family:  Arial,sans-serif !important;
}

.clsSubEncabezadoPantalla06 {
    color:#FF8C00;
    color: black;
    font-size: 12px; 
	FONT-WEIGHT: bold;
	font-family:  Arial,sans-serif !important;
}

.clsSubEncabezadoPantalla07 {
    color:#043668;
    font-size: 18px;
    text-decoration: underline;
    FONT-WEIGHT: bold;
    font-family: Arial Black;
}

.clsSubEncabezadoPantalla07 a {
    font-size: 16px;
    text-decoration: underline;
    FONT-WEIGHT: bold;
    font-family: Arial Black;
}

.clsTituloFieldset {
    font-size: 11px;
	font-family:  Tahoma, sans-serif !important;
	FONT-WEIGHT: bold;
	color: #BCBCBC;
	color: #808080;

}

.clsTituloFieldsetBlanco {
    color:#FFFFFF;  
    font-family:  Arial,sans-serif !important;
}

/* TOOLTIP */
.ui-tooltip, 
.ui-tooltip .ui-widget-content
{
  border:1px solid #9d9d9d;
  color:#000000;
  background-color:#ffffff;
}

/* PANEL */ 
.ui-panel-titlebar-icon {
	width: 15px;
	heigth: 15px;
}

.ui-panel-titlebar {
	float: left;
}

/*COLLAPSIBLE  PANEL*/
.hidePanel{
	display: none;
	border: 1px solid silver;
	/*width: 500px;*/
	/*height: 80px;*/
	background-color: #ededed;
	font-size: 11px; font-family: Arial;
	cursor:pointer;
}
.showPanel{
	cursor:pointer;
}
.fsmall{
	font-size: 11px;
	font-weight: bold;
}


/* IMAGEN */
.clsImagen {
	border: 1px solid #93AAD5;
	border: 1px solid #F3F6F8;
	border: 1px solid transparent;
	cursor: pointer;
}

.clsImagen:hover {
	background-color: #FFFFEC;
	border: 1px solid #FF9400;
}	


/* BUTTON */
.ui-button:hover {	
	/*border: 1px solid #FF9400;*/
	background-color: #FFFFEC;
	background-color: #FF9400;
}	

.ui-button-text {
  margin-left:8px;
  font-weight: bold;
  font-family: Arial;
  FONT-SIZE: 7pt;
}

/* WIDGET */
.ui-widget, .ui-accordion .ui-widget {    
	FONT-SIZE: 8pt;
	font-family: Tahoma, Trebuchet MS, Verdana, Helvetica, Arial,sans-serif !important;
}

.ui-widget-header, .ui-accordion .ui-widget-header {
	FONT-SIZE: 8pt;
	font-family: Tahoma, Trebuchet MS, Verdana, Helvetica, Arial,sans-serif !important;
	font-weight: bold;	
}


/* PANELES */
.clsPanelDerecha {
	float: right;
}	


/* BOTON LINK */
.clsBotonLinkDetallePopUp {
	margin-left: 0px;	
	margin-right: 0px;	
	text-decoration: underline;
} 

.clsBotonLink {
    margin-left: 7px;	
	margin-right: 7px;	
	text-decoration: none;
	font-weight: bold;
	color: #043F8B;
}

.ui-commandlink {
	margin-left: 7px;	
	margin-right: 7px;	
	text-decoration: none;
}



.clsBotonLink:hover {
	/*border: 1px solid #FF9400;*/
}	

.clsBotonLink2 {
	margin-left: 7px;	
	margin-right: 7px;	
	text-decoration: none;
}

.clsImagenLink {
	border: 1px solid transparent;
	cursor: pointer;
}
	
.clsImagenLink:hover {
	background: #FFFFEC;
	border: 1px solid #FF9400;
}	

.clsImagenLinkNoTexto {
	border: 1px solid transparent;
	cursor: pointer;
}
	
.clsImagenLinkNoTexto:hover {
	background: #FFFFEC;
	border: 1px solid #FF9400;
}

label {
	font-family: Tahoma, Arial;
	font-size: 11px;
}

.clsLabelLinkPopup {	
	FONT-WEIGHT: bold;
	color: #FF9400;
	cursor: pointer;
}

.clsLabelLinkPopup:hover {	
	color: #FF9400;
	color: #FFFFFF;
	background-color: #FF9400;
}	

.clsLabelLink {	
	font-family:  Tahoma, Trebuchet MS, Helvetica, Tahoma, Arial;
	font-family:   Tahoma, Arial;
	font-size: 11px;
	FONT-WEIGHT: normal;

	margin-left: 3px;	
	font-style: normal;
	color: #000000;
	color: #043F8B;
	cursor: pointer;

}	

.clsLabelLink:hover {	
	color: #FF9400;
	color: #FFFFFF;
	background-color: #FF9400;
	FONT-WEIGHT: normal;
}	



.ui-layout-resizer-south-closed {
    background: url("#{resource['images:auditoria.png']}") no-repeat scroll 5px 0 #FFFFFF; 
  
}

.ui-layout-resizer-south-closed:hover {
    background: url("#{resource['images:auditoria.png']}") no-repeat scroll 5px 0 #8DA3C1;
}

.ui-layout-resizer-east-closed {
    background: url("#{resource['images:adicionales.png']}") no-repeat scroll 0 0px #FFFFFF;   
   
}
.ui-layout-resizer-east-closed:hover {
	
    background: url("#{resource['images:adicionales.png']}") no-repeat scroll 0 0px #8DA3C1; 
}

.ui-layout-resizer-east-open {
    background: url("#{resource['images:adicionales.png']}") no-repeat scroll 0 0px #FFFFFF;   

}
.ui-layout-resizer-east-open:hover {
	
    background: url("#{resource['images:adicionales.png']}") no-repeat scroll 0 0px #8DA3C1;  
}

.ui-layout-resizer-west-closed {
    background: url("#{resource['images:MenuVertical.png']}") no-repeat scroll 0px 53% #FFFFFF;   

}
.ui-layout-resizer-west-closed:hover {
    
    background: url("#{resource['images:MenuVertical.png']}") no-repeat scroll 0px 53% #65B2FF; 
}

/* radiobutton */
.ui-widget-content .ui-radiobutton {
	position:relative;
	margin:3px 0;width:5px;line-height:0px;	
	margin-right: 10px;
}

.ui-widget-content .ui-radiobutton .ui-radiobutton-box{
	bottom:0;width:11px;height:11px;line-height:0px;
}

.ui-widget-content .ui-radiobutton-icon{
	margin-left:-2px;margin-top:-3px;
}

/* checkbox */
.ui-widget-content .ui-chkbox-label, .ui-chkbox-label {
	font-family: Trebuchet MS, Verdana, Helvetica, Arial,sans-serif !important;
	font-size:11px;
	color: #4167B1;
	float: right;
	padding-left: 5px;
}


.ui-widget-content .ui-chkbox-box {
	float: left;
	cursor: pointer;
}



/* SelectMenu */
.clsSelectMenu {

}

.ui-selectonemenu {
	height: 20px;
}

/* SelectManyMenu */
.clsSelectManyMenu {
	width: 300px !important;
	height: auto !important;
	
}

.ui-selectmanymenu {
	
}

option {
   color: #ff9999 !important;
   color: #333399 !important;
   font-family: sans-serif;
   vertical-align: middle;
   padding-left: 15px;
   
}

.ui-selectlistbox-item {
   font-family: Verdana, Tahoma, sans-serif;
   font-size: 10px;
   font-size: .98em;
   font-size: 10px;
   vertical-align: top;
   padding-left: 10px;
   padding-top: 2px;
   padding-bottom: 3px;
   margin-left: 5px;
}

.ui-selectmanymenu {
	margin-top: 5px !important;
	margin-bottom: 5px !important;
}

.ui-selectmanymenu .ui-selectlistbox-filter {
	border: 1px solid transparent !important;
	border-bottom: 1px solid #4DC4FF !important;
}


.ui-selectmanymenu .ui-selectlistbox-filter-container .ui-inputfield {
	background-color:#ffffff !important;
	color: #043668 !important;
	
	border-top: 1px solid transparent !important;
	border-bottom: 1px solid #65B2FF !important;
}

.ui-selectmanymenu .ui-state-hover , .ui-selectmanymenu .ui-state-focus {
	/*
	border-top: 1px solid #043668 !important;
	border-bottom: 1px solid #043668 !important;
	
	background-color:#65B2FF !important;
	color:#ffffff !important;
	background:#ffffff !important;
	*/
	border-top: 2px solid #47A0D4 !important;
	border-bottom: 2px solid #47A0D4 !important;
	
	
}

.ui-selectonemenu-items .ui-state-hover, .ui-selectonemenu-items .ui-state-focus {
	/*font-weight: bold !important;
	border-top: 2px solid #47A0D4 !important;
	border-bottom: 2px solid #47A0D4 !important;
	background:#ffffff !important;*/
	/*
	border-top: 1px solid #043668 !important;
	border-bottom: 1px solid #043668 !important;
	background-color:#65B2FF !important;
	color:#ffffff !important;*/
	
	border-top: 2px solid #47A0D4 !important;
	border-bottom: 2px solid #47A0D4 !important;
	background:#ffffff !important;
}

/* DATATABLE */
table tr td {
	white-space:normal;
	
}

.ui-datatable table tr td {
	white-space:pre-line;
	
}

.ui-datatable table tr th {
	white-space:pre-line;
	FONT-SIZE: 7pt;
	font-size: .99em;
	FONT-SIZE: 7pt;
	font-size: .98em;
	color: #998080;
}

.clsRowExpansion {
	 white-space:normal;
}
.ui-datatable table tr td .ui-overlaypanel{
	white-space:normal;
	
}
.ui-datatable-data {
	FONT-SIZE: 8pt;
	font-family:  sans-serif, Helvetica, Arial, Verdana, Tahoma,   Trebuchet MS,    !important;
	color: #000000;
	font-size: .90em;
	color: #FFFFFF;
} 

.ui-datatable-even, .ui-widget-content .ui-datatable-even {
	 background:#FFFFFF;
	 cursor: pointer;
	 color: #043668;
}

.ui-datatable-odd, .ui-widget-content .ui-datatable-odd {
	 background:#E1E6F6;
	 background:#EEEEEE;
	 background: #E3F1FA;
	 cursor: pointer;
	 color: #043668;
}

.ui-datatable-even:hover, 
.ui-datatable-odd:hover, 
.ui-widget-content .ui-datatable-even:hover, 
.ui-widget-content .ui-datatable-odd:hover,
.ui-fieldset-toggleable .ui-datatable-even:hover, 
.ui-fieldset-toggleable .ui-datatable-odd:hover{	

  background:#8DA3C1;
  -webkit-transition: color 0.2s linear;
  outline:0;
  border:1px solid #4dc4ff;
  color:#FFF;
  background-color:#8DA3C1;
  background-color:#65B2FF;
  cursor: pointer;
}



/* Focos Activados */
.ui-datatable .ui-state-active, 
.ui-widget-content .ui-datatable .ui-state-active, 
.ui-widget-header .ui-datatable .ui-state-active,
.ui-radiobutton .ui-state-active, 
.ui-widget-content .ui-radiobutton .ui-state-active, 
.ui-widget-header .ui-radiobutton .ui-state-active,
.ui-chkbox .ui-state-active, 
.ui-widget-content .ui-chkbox .ui-state-active, 
.ui-widget-header .ui-chkbox .ui-state-active
 {

 background-color:#3399ff;
 background:-webkit-gradient(linear,left top,left bottom,color-stop(0%,#73b9ff),color-stop(100%,#3399ff));
 background:-webkit-linear-gradient(#73b9ff,#3399ff);
 background:-moz-linear-gradient(#73b9ff,#3399ff);
 background:-ms-linear-gradient(#73b9ff,#3399ff);
 background:-o-linear-gradient(#73b9ff,#3399ff);
 filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#73b9ff', endColorstr='#3399ff');
 -ms-filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#73b9ff', endColorstr='#3399ff');
 background:linear-gradient(#73b9ff,#3399ff);
 outline:0;
 border:1px solid #0059b3;
 color:#ffffff;

}


.clsDatatableNoActive .ui-state-active
 {
 background-color:transparent;
 outline:0;
 border:1px solid #0059b3;
 color:#ffffff;
 
}



.ui-state-hover a, .ui-state-hover a:hover{
	color:#333399;
	text-decoration:none;
}

 .ui-state-active a, .ui-state-active a:link, .ui-state-active a:visited{
   text-decoration:none;
   color:#3399ff;
 }
 
 .ui-widget:active{
   outline:none;
 }
 

.ui-datatable TR.ui-state-highlight {
 /*
 background-color: #3399ff  ;
 color: white;
 border-bottom: 1px solid yellow;
 */
 /*
 border-bottom: 1px solid transparent;
 border: 1px solid transparent;*/
 border: 1px solid #DDDDDD;
 border-top: 2px solid #47A0D4;
 border-bottom: 2px solid #47A0D4;
 
}


/* INPUT TEXT */
.cls-inputfield, .cls-inputSecret, .ui-fieldset .cls-inputfield, .ui-fieldset .cls-inputSecret{
	border: 1px solid #93AAD5;
	height: 14px;
	font-size: 11px;
	font-family: Trebuchet MS, Verdana, Helvetica, sans-serif !important;
	
}

.cls-inputfield-error {
	
}

.cls-inputfield:hover, .cls-inputSecret:hover {
	background-color: #FFFFEC;
	border: 1px solid #FF9400;
}

.ui-inputfield {
	background-color: #FFFFEC;
	height:12px;
	width: 80px; /* HACER PRUEBAS SINO QUITARLO */
	border: 1px solid #93AAD5;
	
	font-family: Trebuchet MS, Verdana, Helvetica, Arial,sans-serif !important;
}


.ui-inputfield .ui-state-focus, 
.ui-widget-content .ui-inputfield .ui-state-focus, 
.ui-widget-header .ui-inputfield .ui-state-focus{
	 -moz-box-shadow:0px 0px 5px #4dc4ff, inset 0 2px 2px #8f8f8f;
	 -webkit-box-shadow:0px 0px 5px #4dc4ff, inset 0 2px 2px #8f8f8f;
	 box-shadow:0px 0px 5px #4dc4ff, inset 0 2px 2px #8f8f8f;
	 border-color:#4dc4ff;
}

.ui-inputfield, .ui-widget-content .ui-inputfield, .ui-widget-header .ui-inputfield{
	background:#ffffff;
	-moz-box-shadow:inset 0 2px 2px #ffffff;
	-webkit-box-shadow:inset 0 2px 2px #ffffff;
	box-shadow:inset 0 2px 2px #ffffff;
	color:#453821;
	
	-moz-box-shadow:0px 0px 5px #4dc4ff, inset 0 2px 2px #ffffff;
	 -webkit-box-shadow:0px 0px 5px #4dc4ff, inset 0 2px 2px #ffffff;
	 box-shadow:0px 0px 5px #4dc4ff, inset 0 2px 2px #ffffff;
	 border-color:#4dc4ff;
}



/* timeline */
.ui-timeline-axis {  
        background-color: #5D99C3;  
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#5D99C3', endColorstr='#3A6DA0'); /* for IE */  
        background: -webkit-gradient(linear, left top, left bottom, from(#5D99C3), to(#3A6DA0)); /* for webkit browsers */  
        background: -moz-linear-gradient(top,  #5D99C3,  #3A6DA0); /* for firefox 3.6+ */  
 }  
 
  .ui-timeline-axis-text {  
     color: white !important;  
 }  
 
  .ui-timeline-event {  
    /* color: white !important;*/  
     border-radius: 5px;  
 }  
 .ui-timeline-event-content {  
     padding: 5px;  
 }  
 .timeline_green{  
     background-image: none !important;  
     background-color: green !important;  
     color: white !important; 
 }  
 .timeline_red{  
     background-image: none !important;  
     background-color: red !important;  
     color: white !important;  
 }  


.ui-toolbar {
	width: auto;
	border-bottom: 1px solid #B4CDE6;
}


.ui-notificationbar {
	border-bottom: 1px solid #D8D8D8;
	border-bottom: 1px solid #0A2967;
	
	opacity: 0.95;
    filter: alpha(opacity=95); /* For IE8 and earlier */
}



.cls_notificationbar {
	border-bottom: 1px solid #D8D8D8;
	border-bottom: 1px solid #0A2967;
	
	opacity: 0.90;
    filter: alpha(opacity=90); /* For IE8 and earlier */
}

.ui-corner-all{
	-moz-border-radius:0px;
	-webkit-border-radius:0px;
	border-radius:0px;
}


.clsLink {
    color: #FF9400 !important;
    font-weight: bold;
    text-decoration: underline;
	margin-left: 0px; 
	margin-right: 0px; 
}

.clsLinkSTO {
    color: blue !important;
    font-weight: bold;
    text-decoration: underline;
	margin-left: 0px; 
	margin-right: 0px; 
}

.clsLink:visited {
    color: #FF9400;
}

.clsLink:hover {
    background-color: transparent;
    color: #FF9400 !important; 
    text-decoration: underline overline;
}

.clsLink img { border: 0 }

.recomendacion {
    background: #FFFF99;
    border: 2px solid #FFFF00;
    color: #000000;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.0em;
    font-weight: normal;
    margin: 10px auto;
    padding: 3px;
    text-align: left;
    vertical-align: bottom;
}

.preformatted {
    white-space: pre-wrap;
}

.ui-selectmanymenu .ui-selectlistbox-item {
	margin: 0px;
	margin-left: 5px;
	margin-right: 5px;
	vertical-align: middle;
}

 .fbold{
 	font-weight:bold;
 }
 
.ui-panel .ui-panel-titlebar {
   padding: 0.0em 0em 0.0em; 
}

.ui-panel-titlebar {
	
	/*
   float: none;
   */
   
}
.creditos {  font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 7pt; font-weight: normal; color: #FFFFFF}

.iconVerAlertas {
  background-image: url("#{resource['images:verAlertas.png']}");
}


/ * Calendar */
.ui-datepicker {
    background-color: #fbfcfd !important;
    border: 1px solid #c6d6df;
    border-radius: 3px;
    padding: 2px !important;
    font-weight: normal;
    
}
.ui-datepicker:hover, .ui-datepicker:focus {
}
.ui-datepicker-header {
    background-color: #d0525d;
    border-radius: 2px;
    font-size: 13px;
    color: #778d9b;
}

.ui-datepicker-calendar {
    border-collapse: inherit !important;
    margin: 2px 2px 0 !important;
}
.ui-datepicker-calendar thead tr th {
    background-color: #edf3f6;
    border-radius: 3px;
    color: #778d9b;
    cursor: default;
    padding: 5px 0px;
}

.ui-datepicker-calendar thead tr .ui-datepicker-week-end {
    background-color: #dae4e8;
    background-color: #33afde;
    color: #FFFFFF;
}

.ui-datepicker-calendar tbody tr td {
    border: 1px solid #dae5ec;
    
    cursor: default;
    font-size: 10px;
}

.ui-datepicker-calendar tbody tr td:hover {
    background-color: #33afde;
    border: 1px solid #33afde;
}
.ui-datepicker-calendar tbody tr td:hover a {
    color: #f6fafc !important;
    transition: all 0.5s ease 0s;
}

.ui-datepicker-calendar tbody tr td a {
    background-color: transparent !important;
    color: #778d9b !important;
    font-weight: normal;
}

.ui-datepicker-calendar tbody tr .ui-datepicker-today {
    background-color: #f4f7f9;
    border: 1px solid #33afde;
}
.ui-datepicker-calendar tbody tr .ui-datepicker-today a {
    color: #33afde !important;
}
.ui-datepicker-calendar tbody tr .ui-datepicker-current-day {
    background-color: #33afde;
    background-color: #d0525d;
    border: 1px solid #33afde;
    border: 1px solid #d0525d;
}
.ui-datepicker-calendar tbody tr .ui-datepicker-current-day a {
    color: #000000 !important;
}

.ui-datepicker-trigger .ui-icon {
    background-image: url("#{resource['images:calendar.png']}");
    background-position: center center !important;
    background-size: 180% auto !important;
}
.ui-datepicker-group .ui-datepicker-calendar {
    width: 100% !important;
}


/* FieldSet */
.ui-fieldset {
    /*background-color: #fbfcfd;*/
    border: 1px solid #c6d6df;
    border: 1px solid #778d9b;
    border-radius: 3px;
}
.ui-fieldset:hover {
}
.ui-fieldset-legend {
  /*  background-color: #33afde;*/
    
    
}
.ui-fieldset-legend.ui-state-hover {
   /* background-color: #289dca;*/
}
.ui-fieldset-legend .ui-icon-plusthick {
    background-image: url("#{resource['images:todown_h.gif']}");
    background-position: center center !important;
    background-repeat: no-repeat;
    background-size: 100% auto;
    margin-right: 5px;
}
.ui-fieldset-legend .ui-icon-minusthick {
    background-image: url("#{resource['images:toup_n.gif']}");
    background-position: center center !important;
    background-repeat: no-repeat;
    background-size: 100% auto;
    margin-right: 5px;
}

/*
.ui-fieldset-content {
    color: #778d9b;
    font-size: 14px;
}
*/

/* Panel */

.ui-panel {
	border-bottom: 4px solid #33AFDE;
	border-bottom: 4px solid #B4CDE6;
	
}

.ui-panel .ui-panel-titlebar .ui-icon-minusthick {
    background-image: url("#{resource['images:toup_n.gif']}");
    background-image: url("#{resource['images:abajoForm05.png']}") !important;
    background-position: center center !important;
    background-size: 100% auto !important; 
}

.ui-panel .ui-panel-titlebar .ui-icon-plusthick {
    background-image: url("#{resource['images:todown_h.gif']}");
    background-image: url("#{resource['images:arribaForm05.png']}") !important;
    background-position: center center !important;
    background-size: 100% auto !important;
    
}

.clsNroFilaDatatable {
	background-color: #E1E6F6;
	color: #2779AA;
	font-weight:normal;
}

.red-bold
{
	color: #FF0000;
	font-weight: bold;	
	font-size: 11px;
}

.textAlignLeft
{
	text-align: left;
}
.textAlignRight
{
	text-align: right;
}


/* Cajas de Error */
.ui-state-error, .ui-widget-content .ui-state-error, .ui-widget-header .ui-state-error
{
	background-color:#ff9999;
	background:-webkit-gradient(linear,left top,left bottom,color-stop(0%,#ffd9d9),color-stop(100%,#ff9999));
	background:-webkit-linear-gradient(#ffd9d9,#ff9999);
	background:-moz-linear-gradient(#ffd9d9,#ff9999);
	background:-ms-linear-gradient(#ffd9d9,#ff9999);
	background:-o-linear-gradient(#ffd9d9,#ff9999);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffd9d9', endColorstr='#ff9999');
	-ms-filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffd9d9', endColorstr='#ff9999');
	background:linear-gradient(#ffd9d9,#ff9999);
	outline:0;
	border:1px solid #ff1a1a;
	color:#660000;
	text-shadow:0 -1px 2px rgba(255,255,255,0.5);
	font-weight:bold;
	border-width:2px;
	-moz-box-shadow:0 0 8px #ff1a1a;
	-webkit-box-shadow:0 0 8px #ff1a1a;
	box-shadow:0 0 8px #ff1a1a;}

	
.ui-state-error a, .ui-widget-content .ui-state-error a, .ui-widget-header .ui-state-error a
{
	color:#0066cc;
}



..ui-dialog-buttonpane {
	font-size: 14px;
}


/* Mensajes */
.ui-messages-info, .ui-messages-warn, .ui-messages-error, .ui-messages-fatal{
	width: 750px;
	border:1px solid;
	margin:10px 0px;
	padding:10px 10px 10px 10px;}
	
.ui-messages-info-icon, .ui-messages-warn-icon, 
.ui-messages-error-icon, .ui-messages-fatal-icon,
.ui-message-info-icon, .ui-message-warn-icon, 
.ui-message-error-icon, .ui-message-fatal-icon{
	display:block;
	float:left;margin:0;padding:0;position:relative;}

.ui-messages-info-icon, .ui-messages-warn-icon, .ui-messages-error-icon, .ui-messages-fatal-icon{
	height:24px;width:24px;margin-top:-4px;
}


.ui-messages-info {
	margin-left:5px;
	background-color:#d9edf7 !important;
	border:2px solid blue !important;}
	
.ui-messages-warn {
	margin-left:5px;
	background-color:#fcf8e3 !important;
	border:2px solid #F09609 !important; }
	

.ui-messages-error,  .ui-messages-fatal {
	margin-left:5px;
	background-color:#f2dede !important;
	border:2px solid red !important;}


.ui-messages-warn-icon {
  background: url("#{resource['images:warning01.png']}") !important;
}

.ui-messages-error-icon {
  background: url("#{resource['images:error01.png']}") !important;
}

.ui-messages-info-icon {
  background: url("#{resource['images:informacion01.png']}") !important;
}

/* Growl */
.ui-growl-image-warn{
  background: url("#{resource['images:warning01_32.png']}") !important;
}

.ui-growl-image-error{
  background: url("#{resource['images:error01_32.png']}") !important;
}

.ui-growl-image-info{
  background: url("#{resource['images:informacion01_32.png']}") !important;
}

.ui-growl-message p {
    font: 12px Tahoma, Arial;
} 

.ui-growl {   
    width: 500px !important;
    top: -5px !important;
    right: 5px !important;
    
    
}

.ui-growl-message {
    width:420px !important;
}

.ui-growl-item-container {
  background: #F1F2F2 !important;
  background: #778d9b !important;
  background: #ffffff !important;
  
  opacity: 1.00 !important;
  border:2px solid #043668 !important;
}


/*
.ui-widget-header:active {
	background:#ffffff;
}

.ui-widget-header:focus {
	background:#ffffff;
}
*/


.ui-tabs-selected a {
	background: #ffffff;
	border-bottom: 2px solid #FF9C00;
	border-bottom: 3px solid #47A0D4;
}
