/*
Design by Free CSS Templates
http://www.freecsstemplates.org
Released for free under a Creative Commons Attribution 2.5 License
*/

body {
	margin: 0px;
	padding: 0;
	font-size: 11px;
	color: #616161;
	background-color:#5F7394;
	background-color:#FFFFFF;
	
}

.clsEncabezado {
  color:#FFF;
	text-shadow:1px 1px 1px #BCBCBC;
	font-size: 22px;
	FONT-WEIGHT: bold;
	font-family:  Helvetica, Arial,sans-serif !important;
}

.clsLabel {
  font-family: "Trebuchet MS", Verdana, Helvetica, Arial,sans-serif !important;
	font-size:12px;
	color: #4167B1;
}	

.clsLabelRequerido {
  font-family: "Trebuchet MS", Verdana, Helvetica, Arial,sans-serif !important;
	font-size:12px;
	FONT-WEIGHT: bold;
	color: #4167B1;
}	

/* CSS de los InputText */
.ui-inputfield, .ui-inputtext {
	background-color: #FFFFEC;
	border: 1px solid #93AAD5;
	font-family: Arial;
	FONT-SIZE: 8pt;
	height:21px;
}

.ui-inputfield:hover {
	background-color: #FFFFEC;
	border: 1px solid #FF9400;
}

.ui-button:hover {
	background-color: #FFFFEC;
	border: 1px solid #FF9400;
}	

/* CSS de los Botones de comando */
.ui-widget {
	/*border: 1px solid #93AAD5;*/
	font-family: Arial;
	FONT-SIZE: 8pt;
}

/* CSS de los Botones de comando cuando se coloca el cursor sobre el*/
.ui-widget:hover {
	font-family: Arial;
	FONT-SIZE: 8pt;
}

/* DATATABLE */
.ui-datatable-even {
	background-color: #F3F6F8;
}


.ui-datatable-odd {
	background-color: #FFFFFF;
}


.ui-widget-header {
	width: 100%;
}	


/* PANELES */	
.clsPanelToggle {
	background-color: transparent;
}		

.ui-panelgrid {
	background: transparent;	
}

.ui-widget-content {
	background: #F3F6F8;
	background: transparent;	
}

/* TOOLBAR */
.ui-toolbar {
	margin-bottom: -10px;
	margin-left: -5px;
	margin-right: -5px;
	*margin-bottom: -8px;
}	


/* BOTON LINK */
.clsBotonLink, .ui-commandlink {
	margin-left: 7px;	
	margin-right: 7px;	
	text-decoration: none;
}	


.clsImagenLink {
	border: 1px solid #93AAD5;
}
	
.clsImagenLink:hover {
	background: #FFFFEC;
	border: 1px solid #FF9400;
}	

.clsLabelLink {
	font-style: normal;
	margin-left: 3px;	
	FONT-WEIGHT: bold;
	color: #000000;
}	

.clsLabelLink:hover {
	color: #FF9400;
}	

/* SEPARADOR */
.ui-separator {
	margin-top: -5px;
}	


.ui-fieldset-legend {
	margin-bottom: 15px;
}	

.ui-fieldset {
	font-family: Tahoma;
	FONT-SIZE: 7pt;
}	

.ui-fieldset:hover {
	font-family: Tahoma;
	FONT-SIZE: 7pt;
}	
