
/**************************************************************************
***************************************************************************/

html, body {
        width: 100%;
        height:   100%;     
        padding:  0;
        margin:   0;
        /*overflow-x: hidden;*/
      }


body {
	font-size: 12.5px;
	font-family: 'Open Sans', sans-serif;
	margin: 0px;
	padding:0px;
	
	color: #B5B4B4;
	color: #00B4B4;
	text-align: center;
	/*min-height: 588px;
	width: 100%;
   	height: 100%;
   	background-size: cover;
   	background-repeat:no-repeat;
   	background-position: 100% 100%;
	background-image: url('../images/bg_login.jpg');        
*/
  
	background:  url("#{resource['login:bg_login1.jpg']}")  no-repeat center center fixed; 
  	-webkit-background-size: cover;
  	-moz-background-size: cover;
  	-o-background-size: cover;
  	background-size: cover;
      background-position-y: 0px;

}

ul {
	margin: 0px;
	padding: 0px;
}

li {
	list-style-type: none;
	/*display: block;*/
	padding: 0px;
	margin:0px
}

p {
	margin: 0px;
	padding: 0px;
}

img {
	margin: 0px;
	padding: 0px;
	vertical-align: top;
	border: 0px;
}

input, textarea {
	padding: 0px;
	margin: 0px;
	outline: 0 none;
	font-family: Arial, Helvetica;
	color: #666;
}

span {
	padding: 0px;
	margin: 0px;
}

h1, .h1 {
	font-size: 36px;
}

h2, .h2 {
	font-size: 30px;
}

h3, .h3 {
	font-size: 24px;
}

h4, .h4 {
	font-size: 18px;
}

h5, .h5 {
	font-size: 14px;
}

h6, .h6 {
	font-size: 12px;
}

/**** ESTRUCTURA *******/

.wrapper {
	width: 1140px;
	margin: 0px auto;
	text-align: left;
}

.wrapper .top {
	height: 100px;
}

.top .boxMenu {
	display: block;
	margin-left: 333px;
}

.top .logo {
	
    
    float: left;
	width: 333px;
	display: block;
	text-align: center;
	position: relative;
	z-index: 1;
    right: -742px;

}

.nav {
	height: 98px;
	position: relative;
	/*line-height: 86px;*/
}

.slogan {
	display: block;
	position: absolute;
	top: 25px;
    left: -423px;
    font-size: 18px;
	font-weight: normal;
	line-height: 24px;
	font-family: 'Open Sans', sans-serif;
	text-align: left;
	width: 250px;	
}

.slogan span i {
	color: #993399;
}

.slogan span {
	color: #FFFEFF;
	display: block;
}

.nav a {
	height: 98px;
	float: right;
	text-align: center;
	padding: 0px 14px 0px 14px;
	
	text-decoration: none;
	font-size: 13px;
	text-align: left;
}

.nav a i {
	display: block;
	position: relative;
	padding: 13px 0px 6px 0px;
}
.nav a span {
	display: block;
	position: relative;
}

.nav0 {
	background: #b7b7b7;
    width: 85px;
}

.nav0:hover {
	background: #768591;
}

.nav1 {
	background: #cc99cc;
    width: 92px;
}

.nav1:hover {
	background: #768591;
}

.nav2 {
	background: #b042b0;
	width: 105px;
}

.nav2:hover {
	background: #768591;
}

.nav3 {
	background: #660066;
}

.nav3:hover {
	background: #768591;
}

.wrapMain {
	padding: 0px 0px 0px 0px;
	position: absolute;
	top: 0px;
    float: right;
    right: 148px;
}

.webForm {
	width: 286px;
	padding-left: 33px;
	padding-right: 14px;
	padding-bottom: 36px;
	/*padding-top: 10px;*/
	/*background: url('images/bg_form1.png') 0px 0px repeat;*/
	position: relative;
    background-color: rgba(0, 0, 0, 0.5);
    filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr='#4c000000', endColorstr='#4c000000'); /* IE */
}

.webForm .title {
	display: block;
	padding: 36px 19px 25px 0px;
	font-weight: normal;
	font-size: 26px;
	line-height: 28px;
	color: #993399;
	text-align: center;
}

.webForm .formCont {
	display: block;
}

.boxform {
	display: block;
	overflow: hidden;
	height: 100%;	
	font-size: 16px;
	font-family: 'Open Sans', sans-serif;
	 
}

.formcontrol {
	display: block;
	border: 1px solid #9f9f9f;
	width: 206px;
	height: 42px;
	padding-left: 42px;
	margin-bottom: 14px;
	float: left;
	color: #FFFFFF;
	border: none;
	
}



.formcontrol .inputForm, .cls-inputfield, .cls-inputSecret{
	height: 32px;
	line-height: 32px;
	padding: 0px;
	background: transparent;
	width: 95%;
	border: none;
	font-size: 13px;
	color: #FFFFFF;
	font-weight: bold;
	font-family: 'Open Sans', sans-serif;
}


select, .clsSelectMenu {
	height: 32px;
	line-height: 32px;
	padding: 0px;
	background: transparent;
	width: 95%;
	border: none;
	font-size: 13px;
	color: #FFFFFF;
	font-weight: bold;
	font-family: Tahoma, 'Open Sans', sans-serif;
}

option {
   color: #000000;
   background-color: rgba(210,210, 210, 0.4);
   font-family: 'Open Sans', sans-serif;
   filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr='#4cffffff', endColorstr='#4cffffff'); /* IE */
}

.cls-inputfield:focus, .cls-inputSecret:focus,
.cls-inputfield:hover, .cls-inputSecret:hover {
	font-size: 13px;
	color: #E0DEDE;
	color: #FFFFFF;
	border: none;
	font-family: 'Open Sans', sans-serif;
	background: transparent;
}




.formcontrol select:focus {
	outline: none;
}

.btn {
	float: right;
	padding-top: 8px;
}

.btn a {
	display: block;
}

.formbtn {
	text-align: center;
	float: left;
	width: 250px;
	font-size: 16px;
	font-family: 'Open Sans', sans-serif;
}

.formbtn .btnCrear {
	width: 183px;
	height: 36px;
	border: none;
	cursor: pointer;
	color: #FFF;
	
	background: url("#{resource['login:btn_crear.png']}")  0px 0px no-repeat;
}

.formbtn .btnCrear:hover {
	background: url("#{resource['login:btn_crear.png']}")  0px -36px no-repeat;
}

.btnCrear02 {
	width: 183px;
	height: 36px;
	border: none;
	cursor: pointer;
	color: #FFF;
	background: url("#{resource['login:btn_crear.png']}")  0px 0px no-repeat;
	
}

.btnCrear02:hover  {
	
	background: url("#{resource['login:btn_crear.png']}")  0px -36px no-repeat;
}

.formbtn label {
	display: block;
	padding-bottom: 8px;
}

.formbtn label a {
	text-decoration: none;
	color: #F5CCF5;
}

.formbtn label a:hover {
	text-decoration: underline;
}

.user {
	background: url("#{resource['login:user_ico.png']}")  top left no-repeat ;
	 background-color: rgba(210,210, 210, 0.3);
	 filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr='#4cCFA106', endColorstr='#4cCFA106'); /* IE */
}

.pass {
	background: url("#{resource['login:pass_ico1.png']}")  top left no-repeat ;
	 background-color: rgba(210,210, 210, 0.3);
	filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr='#4cCFA106', endColorstr='#4cCFA106'); /* IE */
	
}

.pais {
	background: url("#{resource['login:pais_ico1.png']}") top left no-repeat ;
	 background-color: rgba(210,210, 210, 0.3);
	 filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr='#4cCFA106', endColorstr='#4cCFA106'); /* IE */
}


.footer {
	background: #748591;
	position: fixed;
	bottom: 0px;
	left: 0px;
	right: 0px;
	color: #FFF;
	text-align: center;
}

.footer .footerWrap {
	
	width: 1140px;
	margin: 0px auto;
	text-align: left;
	background: red;
}

.footer .footerWrap .logoFoot {
	float: left;
	display: block;
	padding-top: 14px;
}

.footer .footerWrap .linkFoot {
	float: left;
	display: block;
	padding: 0px 0px 0px 30px;
}

.footer .footerWrap .linkFoot a {
	display: inline-block;
	*display: inline;
	zoom: 1;
	vertical-align: top;
	color: #FFF;
	font-size: 11px;
	line-height: 54px;
	text-decoration: none;
	padding-right: 10px;
}

.footer .footerWrap .linkFoot a:hover {
	text-decoration: underline;
}

.footer .footerWrap .logosRight {
	float: right;
}

.footer .footerWrap .logosRight a {
	display: inline-block;
	*display: inline;
	zoom: 1;
	vertical-align: top;
	color: #FFF;
	font-size: 11px;
	line-height: 54px;
	text-decoration: none;
	padding-left: 10px;
}

.footer_admin {
	position: fixed;
	bottom: 65px;
	left: 0px;
	right: 0px;
	text-align: center;
}

.footer_admin .admin {
	width: 1140px;
	margin: 0px auto;
	display: block;
	font-size: 12px;
	font-weight: normal;
	line-height: 24px;
	font-family: 'museo_sans_100regular';
	padding: 30px 0px 0px 0px;
}

.footer_admin .admin a {
	width: 100px;
	color: #6C6B6B;
	text-decoration: none;
	display: block;
	padding: 0px 0px 0px 15px;
	background: url("#{resource['login:ico_admin.png']}") 0px 6px no-repeat;	
    float: right;
    margin-right: 42px;
}

.footer_admin .admin a:hover {
	text-decoration: underline;
}

/************ TOOLTIP  ********************/

.btn_detail
{
    position:relative;
    display:block;
}

.detalle {
    /*border: 2px solid #8339A1;*/
    /*background:#FFF;*/
    background: url("#{resource['login:tooltip.png']}")  top left no-repeat;
    width:242px;
    height: 69px;    
    -webkit-border-radius: 10px; /* Para Safari y Chrome */
    -moz-border-radius: 10px; /* Para Firefox */
    -khtml-border-radius: 10px; /* Navegadores de Linux */
    border-radius: 10px; /* CSS3 */
    behavior: url(Pie/PIE.htc); /* Para IE */
}

#det1 {
	position:absolute;
    z-index:1000;
    top: 133px;
	right: -233px;
}

#det2 {
	position:absolute;
    z-index:1000;
    top: 192px;
	right: -233px;
}

.detalle2
{
    position:absolute;
    z-index:1000;
    /*border: 2px solid #8339A1;*/
    /*background:#FFF;*/
    background: url("#{resource['login:tooltip.png']}")  top left no-repeat;
    width:242px;
    height: 69px;
    top: -16px;
    right: -245px;
    -webkit-border-radius: 10px; /* Para Safari y Chrome */
    -moz-border-radius: 10px; /* Para Firefox */
    -khtml-border-radius: 10px; /* Navegadores de Linux */
    border-radius: 10px; /* CSS3 */
    behavior: url(Pie/PIE.htc); /* Para IE */
}

.detalle_item
{
    padding: 5px 3px 0px 14px;
    font-size: 12px;
    color: #666;
    font-style: italic;
}


/* -------------------------------------------------- */
/*  Main Navigation
    /* -------------------------------------------------- */

/* Generated by Font Squirrel (http://www.fontsquirrel.com) on August 29, 2012 */
@font-face {
    font-family: 'museo_sans_900regular';
    src: url('../fonts/museo/museosans_900-webfont.eot');
    src: url('../fonts/museo/museosans_900-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/museo/museosans_900-webfont.woff') format('woff'), url('../fonts/museo/museosans_900-webfont.ttf') format('truetype'), url('../fonts/museo/museosans_900-webfont.svg#museo_sans_900regular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'museo_sans_700regular';
    src: url('../fonts/museo/museosans_700-webfont.eot');
    src: url('../fonts/museo/museosans_700-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/museo/museosans_700-webfont.woff') format('woff'), url('../fonts/museo/museosans_700-webfont.ttf') format('truetype'), url('../fonts/museo/museosans_700-webfont.svg#museo_sans_700regular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'museo_sans_500regular';
    src: url('../fonts/museo/museosans_500-webfont.eot');
    src: url('../fonts/museo/museosans_500-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/museo/museosans_500-webfont.woff') format('woff'), url('../fonts/museo/museosans_500-webfont.ttf') format('truetype'), url('../fonts/museo/museosans_500-webfont.svg#museo_sans_900regular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'museo_300regular';
    src: url('../fonts/museo/museo300-regular-webfont.eot');
    src: url('../fonts/museo/museo300-regular-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/museo/museo300-regular-webfont.woff') format('woff'), url('../fonts/museo/museo300-regular-webfont.ttf') format('truetype'), url('../fonts/museo/museo300-regular-webfont.svg#museo_300regular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'museo_sans_100regular';
    src: url('../fonts/museo/museosans-100-webfont.eot');
    src: url('../fonts/museo/museosans-100-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/museo/museosans-100-webfont.woff') format('woff'), url('../../fonts/museo/museosans-100-webfont.ttf') format('truetype'), url('../fonts/museo/museosans-100-webfont.svg#museo_sans_100regular') format('svg');
    font-weight: normal;
    font-style: normal;
}

/************ FONT ********/


@font-face {
	font-family: 'FontCS';
	src: url('../font/KievitPro-Black.eot?') format('eot'), 
	     url('../font/KievitPro-Black.otf')  format('opentype'),
	     url('../font/KievitPro-Black.woff') format('woff'), 
	     url('../font/KievitPro-Black.ttf')  format('truetype'),
	     url('../font/KievitPro-Black.svg#KievitPro-Black') format('svg');
}


@font-face {
	font-family: 'FontCS_light';
	src: url('../font/KievitPro-Book.eot?') format('eot'), 
	     url('../font/KievitPro-Book.otf')  format('opentype'),
	     url('../font/KievitPro-Book.woff') format('woff'), 
	     url('../font/KievitPro-Book.ttf')  format('truetype'),
	     url('../font/KievitPro-Book.svg#KievitPro-Book') format('svg');
}



.ui-dialog .ui-dialog-title {
    float: left;
    font-weight: normal !important;
    margin: 0.1em 16px 0.2em 0;
    color: #702789 !important;
    text-align:left;
}

p {
    margin: 0 0 1.5em 0;
    padding: 0;
    line-height: 1.6em;
    font-size: 12px;
}

h1 {
    font-size: 40px;
}

h2 {
    font-size: 26px;
}

h3 {
    font-size: 22px;
}

h4 {
    font-size: 18px;
}

h5 {
    font-size: 16px;
}

h6 {
    font-size: 12px;
}

h1, h2, h3, h4, h5 {
    color: #6c217f;
}

h1, h2, h3, h4, h5, h6 {
    margin-bottom: 10px;
    color: #6c217f;
    font-weight: bold !Important;
    line-height: 1.25;
}

.Mensaje_SignOut
{
	text-align: center;
	width: 330px;
	font-family: 'museo_300regular';
	font-size:16px;
}



.clsRecuperarCuenta {
    font-size: 12px; 
    font-family: Helvetica; 
    FONT-WEIGHT: normal; 
    color: #FFFFFF; 
    align:center;
}

.clsRecuperarCuenta a {
    font-size: 12px; 
    font-family: Helvetica; 
    FONT-WEIGHT: normal; 
    color: #FFFFFF; 
    align:center;
    text-decoration: none;
}
