/*
Design by Free CSS Templates
http://www.freecsstemplates.org
Released for free under a Creative Commons Attribution 2.5 License
*/

/* TABS */

/*
.ui-tabs-nav {
	-webkit-transform:  rotate(-90deg);
	-moz-transform:  rotate(-90deg);
	-o-transform:  rotate(-90deg);
	transform:  rotate(-90deg);
	-ms-transform: rotate(-90deg);

   filter:progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
    -ms-filter: "progid:DXImageTransform.Microsoft.BasicImage(rotation=-90deg)"; 
   
	position: fixed;
	top: 15px;
	left: -290px;
	height: 20px;
	width: 600px;
	z-index: 1;
}


.ui-tabs-panel {
	position: absolute;
	top: -10px;
	left: 25px;
	width: 80%;
	z-index: 2;
}
*/

 
 /* Focos Activados */

.ui-state-focus, .ui-widget-content .ui-state-focus, .ui-widget-header .ui-state-focus{
	-moz-box-shadow:0 0 8px #3399ff;-webkit-box-shadow:0 0 8px #3399ff;box-shadow:0 0 8px #3399ff;
}
.ui-state-hover a, .ui-state-hover a:hover{
	color:#333399;text-decoration:none;
}

 .ui-state-active a, .ui-state-active a:link, .ui-state-active a:visited{
   color:#ffffff;text-decoration:none;
   color:#3399ff;
 }
 
 .ui-widget-header {
	background:#ffffff;
}
 
 .ui-widget-header:active {
	background:#ffffff;
} 
 
 .ui-widget:active{
   outline:none;
 }
 
/* WIDGET */
.ui-widget, .ui-accordion .ui-widget {    
	FONT-SIZE: 8pt;
	font-family: Tahoma, Trebuchet MS, Verdana, Helvetica, Arial,sans-serif !important;
}

.ui-widget-header, .ui-accordion .ui-widget-header {
	FONT-SIZE: 8pt;
	font-family: Tahoma, Trebuchet MS, Verdana, Helvetica, Arial,sans-serif !important;
	font-weight: bold;	
}


body {
	margin: 0px;
	padding: 0px;
	font-size: 11px;
	color: #616161;
	background: #313B3F;
	background: #E7E5DA;
	height:100%;
}

html {
	height:100%;
}


label {
	font-family: Tahoma, Arial;
	font-size: 11px;
}

.clsSubEncabezadoPantalla02 {
    color:#FFFFFF;
    text-shadow:2px 2px 2px #043668;
}

.clsTituloFieldset {
    font-family: Tahoma, Arial;
	font-size:11px;
	FONT-WEIGHT: bold;

}

.panelTablaMenu { 
	margin: 0px 0px 0px 0px; 
}


/* Menu */
#menu{
	border-radius:5px;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
	margin-top:-10px;
	margin-left:-15px;
	margin-right:-16px;	
	
	/*
	filter: progid:DXImageTransform.Microsoft.Shadow(color='#646464', Direction=135, Strength=6);	
	-webkit-box-shadow:3px 3px 3px #888;
	-moz-box-shadow:3px 3px 3px #888;	
	*/
}

#menu li{
	/*border-bottom:1px solid #BCBCBC;*/	
}

#menu ul li, #menu li:last-child{border:none;}	

a {
	display:block;
	text-decoration:none;
	padding:3px 1px;
	font-family: Helvetica, Arial,sans-serif !important;
	font-family: Trebuchet MS, Verdana, Helvetica, Arial,sans-serif !important;
	font-style: normal;
	font-size:11px;
	color: #4167B1;
}

#menu a {
	font-size:11px;	
		
	color: #808080;
	color: #616161;
	color: #000000;	
	border:1px solid #D1CDE6;
	font-family:  Tahoma, sans-serif !important;
}	

#menu a:hover{	
  background:#8DA3C1;
  -webkit-transition: color 0.2s linear;
  outline:0;
  border:1px solid #4dc4ff;
  color:#FFF;
  background-color:#8DA3C1;
  background-color:#65B2FF;
}

/*
#menu a:focus{	
  background:#8DA3C1;
  -webkit-transition: color 0.2s linear;
  outline:0;
  border:1px solid red;
  color:#FFF;
  background-color:#C53E48;
}
*/

ul{
	display:block;
	background-color:#2961A9; /* Color Principal del Menu */
	background-color:#8DA3C1;	
	background-color:#F0F0F0;	
	background-color:#EBEBEB;	
	background-color:#D8D8D8; 	
	margin:0;
	padding:0;
	padding-left:4px;
	list-style:none;
}

#menu ul{
	background-color:#8DA3C1;
	background-color:#F0F0F0;	
}

#menu ul a{		
  background-color:#D8D8D8; /* Color del Menu Secundario */
  background-color:#EBEBEB;	
  outline:0;
  border:1px solid #D8D8D8;
  color: #333399;
}

#menu li ul {
  display:none;
}

#menu2 ul a{
	 /* Color del Menu Secundario */	
	padding-left:15px;
	color: #280042;
	color: #333399;
	text-shadow:1px 1px 1px #DDDDDD;	
    background-color:#EAE8DD;
    background-color:#EBEBEB;	    
}

#menu2 a{
	font-size:11px;
	padding-left:10px;
	font-family:  Tahoma, sans-serif !important;
}


#menu4 a{
	font-size:11px;
	padding-left:10px; 
}

#menu3 a{
	font-size:11px;
}

#menu3{
	padding-left:5px; 
}


.ui-tabs-selected a {
	background: #ffffff;
	
}

